{% extends 'core/base.html' %}

{% block content %}
  <h1>Editar cuota {{ installment.installment_number }}</h1>
  <form method="post">
      {% csrf_token %}
      <div>
        {{ form.amount.label }}
        <div class="input-group">
          {{ form.amount }}
          <button type="button" id="enable-amount-btn" class="btn btn-primary">Editar monto</button>
        </div>
      </div>
      <div>
        {{ form.daily_interests.label }}{{ form.daily_interests }}
      </div>
      <div>
        {{ form.porcentage_daily_interests.label }}{{ form.porcentage_daily_interests}}
      </div>
      <div>
        {{ form.start_date.label }}{{ form.start_date }}
      </div>
      <div>
        {{ form.end_date.label }}{{ form.end_date }}
      </div>
      <div>
        {{ form.payment_date.label }}{{ form.payment_date }}
      </div>
      <div>
        {{ form.condition.label }}
        <div class="input-group">
          {{ form.condition }}
          <div id="refinance-msg" style="display: none; margin-left: 10px;">SI DESEA REFINANCIAR DICHA CUOTA, HACERLO DESDE LA PESTAÑA ANTERIOR > boton REFINANCIAR</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Guardar</button>
</form>

<script src="http://momentjs.com/downloads/moment.min.js"></script>

<script>
function roundToNearestSpecial(x) {
  if (Number.isInteger(x)) {
    return x;
  } else if (x < 100) {
    if (x % 10 >= 5) {
      return Math.ceil(x / 10) * 10 - 10;
    } else {
      return Math.floor(x / 10) * 10;
    }
  } else {
    return Math.round(x);
  }
}


var conditionSelect = document.getElementById("id_condition");
var refinanceMsg = document.getElementById("refinance-msg");

conditionSelect.addEventListener("change", function () {
    if (conditionSelect.value === "Refinanciada") {
        refinanceMsg.style.display = "block";
    } else {
        refinanceMsg.style.display = "none";
    }
});

var amountInput = document.getElementById("id_amount");
var enableAmountBtn = document.getElementById("enable-amount-btn");

// Agregar la clase "readonly" al cargar la página
amountInput.classList.add("readonly");
amountInput.readOnly = true;

// Agregar un manejador de eventos para habilitar/deshabilitar el campo de cantidad
enableAmountBtn.addEventListener("click", function () {
    if (amountInput.readOnly) {
        amountInput.classList.remove("readonly");
        amountInput.readOnly = false;
        enableAmountBtn.textContent = "Deshabilitar monto";
    } else {
        amountInput.classList.add("readonly");
        amountInput.readOnly = true;
        enableAmountBtn.textContent = "Editar monto";
    }
});

// Agregar manejadores de eventos para los campos de fecha y porcentaje
var endDateInput = document.getElementById("id_end_date");
var startDateInput = document.getElementById("id_start_date");
var paymentDateInput = document.getElementById("id_payment_date");
var porcentageInput = document.getElementById("id_porcentage_daily_interests");
var dailyInterestsInput = document.getElementById("id_daily_interests");

endDateInput.addEventListener("change", calculateDailyInterests);
startDateInput.addEventListener("change", calculateDailyInterests)
paymentDateInput.addEventListener("change", calculateDailyInterests);
porcentageInput.addEventListener("input", calculateDailyInterests);

function calculateDailyInterests() {
  const end_date = moment(endDateInput.value).startOf('day');
  const start_date = moment(startDateInput.value).startOf('day');
  const payment_date = moment(paymentDateInput.value || new Date()).startOf('day');
  const porcentage = porcentageInput.value || 0;

  const days_diff_s_e = end_date.diff(start_date, 'days');
  const days_diff_s_p = payment_date.diff(start_date, 'days');
  const days_diff = days_diff_s_p > days_diff_s_e ? days_diff_s_e : days_diff_s_p;

  const daily_interests = Math.round(amountInput.value * porcentage/100 * days_diff);
  dailyInterestsInput.value = roundToNearestSpecial(daily_interests).toFixed(2);
}

</script>

{% endblock %}