{% extends 'core/base.html' %}

{% block content %}
<h1>Editar Refinanciacion: Cuota  {{ installment_ref.installment_number }}</h1>
<form method="post">
  {% csrf_token %}
  <div>
    {{ form.amount.label }}{{ form.amount }}
  </div>
  <div>
    {{ form.daily_interests.label }}{{ form.daily_interests }}
  </div>
  <div>
    {{ form.end_date.label }}{{ form.end_date }}
  </div>
  <div>
    {{ form.payment_date.label }}{{ form.payment_date }}
  </div>
  <div>
    {{ form.condition.label }}{{ form.condition }}
  </div>
  <button type="submit" class="btn btn-primary">Guardar</button>
</form>
{% endblock %}
