{% extends "core/base.html" %}{% block content %} {% load static %}
    <main class="container my-4">
        <form method="post">
            <h1>
            Actualizar Refinanciacion de <a href="{% url 'clients:detail' client.pk %}"><h1>{{client}}</h1></a>
            </h1>
            {% include 'core/message.html' %}
            <div class="col-md-8">
                <div class="card bg-primary text-white box-shadow mb-3">
                    <div class="card-body">
                        <h5 class="title p-2">
                            <i class="fa-solid fa-landmark text-warning"></i> &nbsp; Refinanciacion
                        </h5>
                        {% csrf_token  %}
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                {{form.start_date.label}} {{form.start_date}}
                            </div>
                            <div class="form-group col-md-12">
                                {{form.end_date.label}} {{form.end_date}}
                            </div>
                            <div class="form-group col-md-12">
                                {{form.refinancing_repayment_amount.label}} {{form.refinancing_repayment_amount}}
                            </div>
                            <div class="form-group col-md-2">
                                {{form.installment_num.label}} {{form.installment_num}}
                            </div>
                            <div class="form-group col-md-2">
                                {{form.interest.label}} {{form.interest}}
                            </div>
                            <div class="form-group col-md-4">
                                {{ form.interest_daily.label }}
                                <div class="input-group">
                                    {{ form.interest_daily }}
                                    <div class="input-group-append">
                                        <span class="input-group-text">%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer p-1 bg-secondary box-shadow rounded-bottom"></div>
                </div>
                <div class="text-center">
                    <button class="btn btn-success cen" type="submit">*Guardar Cambios</button>
                    <div>*Cualquier cambio en la refinanciacion hara un reseteo de la misma*</div>
                </div>
            </div>
        </form>
    </main>
{% endblock content %}