{% load static %} {% block content %}
<link href="{% static 'note/css/note.css' %}" rel="stylesheet">
<main class="container my-4">
    <!-- MODAL FORMULARIO PAYMENT -->
    <div type="button" class="btn" data-toggle="modal" data-target="#exampleModal{{credit_active.pk}}" onclick="verquepasa(`{{credit_active.pk}}`)">
        <strong class="btn btn-info rounded p-3" role="button">
          <i class="fa-solid fa-receipt"></i>
          <span>Registrar un Pago</span>
      </strong>
    </div>
    <!--Modal-->
    <div class="modal fade" id="exampleModal{{credit_active.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{credit_active.pk}}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-primary text-white">
                <form action="{% url 'payments:make_paid' credit_active.pk %}" method="POST">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Registrar Pago</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <h5>Valor por Cuota $ {{amount_installment}}</h5>
                        {% csrf_token %}

                        {% if forloop.first %} {{form_payment1.as_p}} {% else %} {{form_payment.as_p}} {% endif %}
                        <input type="button" id="select-all-button" value="Seleccionar/Deseleccionar todo" style="background-color: #4CAF50; color: white; padding: 12px 20px; border: none; border-radius: 4px; cursor: pointer;">

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success">Pagar</button>
                        <button type="button" class="btn btn-info m-2 rounded p-2" data-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<script>
    function verquepasa(id) {
        let checkboxes_p = document.querySelectorAll('input[type="checkbox"][id="form_payment' + id + '"]');
        var amountElement = document.querySelector("#id_payment-amount" + id);
        var selectAllButton = document.querySelector("#select-all-button");

        function sumar() {
            console.log(checkboxes_p);
            var total = 0;
            checkboxes_p.forEach(function(checkbox) {
                if (checkbox.checked) {
                    total += parseFloat(checkbox.value);
                }
            });

            amountElement.innerHTML = total.toFixed(2);
            amountElement.value = total.toFixed(2);
        }

        function selectAll() {
            var allSelected = true;
            checkboxes_p.forEach(function(checkbox) {
                if (!checkbox.checked) {
                    allSelected = false;
                }
            });

            if (allSelected) {
                checkboxes_p.forEach(function(checkbox) {
                    checkbox.checked = false;
                });
            } else {
                checkboxes_p.forEach(function(checkbox) {
                    checkbox.checked = true;
                });
            }

            sumar();
        }

        checkboxes_p.forEach(function(checkbox) {
            checkbox.addEventListener("click", sumar);
        });

        selectAllButton.addEventListener("click", selectAll);
    }
</script>

{% endblock content %}