{% load static %} {% block content %}
<link href="{% static 'note/css/note.css' %}" rel="stylesheet">
<main class="container my-4">
  <!-- MODAL FORMULARIO PAYMENT -->
    <div type="button" class="btn" data-toggle="modal" data-target="#exampleModal{{credit_active}}">
        <strong class="btn btn-info rounded p-3" role="button">
          <i class="fa-solid fa-receipt"></i>
          <span>Registrar un Pago</span>
      </strong>
    </div>
    <!--Modal-->
    <div class="modal fade" id="exampleModal{{credit_active}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{credit_active}}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{% url 'payments:make_paid' credit_active.pk %}" method="POST">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Registrar Pago</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <h5>Valor por Cuota $ {{amount_installment}}</h5>
                      {% csrf_token %}
                      {{form_payment.as_p}}
                  </div>
                  <div class="modal-footer">
                      <button class="btn btn-success">Pagar</button>
                      <button type="button" class="btn btn-info m-2 rounded p-2" data-dismiss="modal">Cerrar</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</main>

<script>
    var checkboxes_p = document.querySelectorAll('input[type="checkbox"][data-form-id="form_payment"]');
    var amountElement = document.querySelector("#id_payment-amount");

    function sumar() {
        var total = 0;

        checkboxes_p.forEach(function(checkbox) {
            if (checkbox.checked) {
                total += parseFloat(checkbox.value);
            }
        });

        amountElement.innerHTML = total.toFixed(2);
        amountElement.value = total.toFixed(2);
    }

    checkboxes_p.forEach(function(checkbox) {
        checkbox.addEventListener("click", sumar);
    });
  </script>

{% endblock content %}