{% extends "core/base.html" %} {% block content %} {% load static %} 
{% if messages %} {% for message in messages %}
<div class="alert alert-{{message.extra_tags}} alert-dismissible" role="alert">
    <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
    <span class="font-weight-light">{{ message }}</span>
</div>
{% endfor %} {% endif %}
<main class="container my-4">
    <h4>{{adviser}}</h4>
    <section>
        <div class="row">
            <div class="col-md-9">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        {% if request.user.adviser == adviser %}
                        <!-- Avatar -->
                        <div class="col-md-2 text-center">
                            {% if adviser.avatar %}
                            <img src="{{adviser.avatar.url}}" alt="avatar" width="100px" height="100px" class="rounded-circle  "> {% else %}
                            <img src="/media/{{MEDIA_URL}}avatares/default.png" alt="avatar" width="100px" height="100px" class="rounded-circle  "> {% endif %}
                            <a class="btn btn-primary" href="{% url 'advisers:update' object.pk %}">Actualizar Avatar</a>
                        </div>
                        <!-- Campos -->
                        <div class="col-md-10">
                            <p><i class="far fa-calendar-alt text-warning"></i> Fecha de alta: <span class="font-weight-bold">{{adviser.created_at|date}}</span></p>
                            <p><i class="fas fa-user text-warning"></i> Nombre de usuario: <span class="font-weight-bold">{{adviser.user}}</span></p>
                            <p><i class="fas fa-lock text-warning"></i> Cambiar contraseña <a class="font-weight-bold text-secondary" href="/accounts/password_change">aqui</a></p>

                        </div>
                        {% else %}
                        <!-- Avatar -->
                        <div class="col-md-2">
                            {% if adviser.avatar %}
                            <img src="{{adviser.avatar.url}}" width="100px" height="100px" class="rounded-circle  "> {% else %}
                            <img src="/media/{{MEDIA_URL}}avatares/default.png" alt="avatar" width="100px" height="100px" class="rounded-circle p-2  "> {% endif %}
                        </div>
                        <!-- Campos -->
                        <div class="col-md-10">
                            <p>Fecha de alta: <span class="font-weight-bold">{{adviser.created_at}}</span></p>
                            <p>Nombre de usuario: <span class="font-weight-bold">{{adviser.user}}</span></p>
                        </div>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </section>
    <section class="mt-4">
        <h5>Comisiones</h5>
        {% if commissions %}
        <table class="table table-responsive-lg table-striped table-hover">
            <thead class="table-primary text-white">
                <tr>
                    {% for name_prop in properties %}
                    <th scope="col">{{name_prop}}</th>
                    {% endfor %} {% if user.is_superuser %}
                    <th scope="col">Acciones</th>
                    {% endif %}

                </tr>
            </thead>
            <tbody>
                {% for commission in commissions %}
                <tr>
                    <td>{{commission.amount}}</td>
                    <td>{{commission.type}}</td>
                    <td>{{commission.created_at}}</td>
                    <td>{{commission.detail}}</td>
                    <td>{{commission.interest}}</td>
                    {% if user.is_superuser %}
                    <td>
                        <a type="button" class="btn" data-toggle="modal" data-target="#exampleModal{{commission.pk}}"><i class="fa-solid fa-check" onclick="setDefaultInterest('{{ commission.id }}')"></i> &nbsp;</a>
                        <!--Modal-->
                        <div class="modal fade" id="exampleModal{{commission.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{commission.pk}}" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content bg-primary text-white">
                                    <form action="{% url 'advisers:pay_commission' commission.pk %}" method="POST">
                                        {% csrf_token %}
                                        <div class="modal-header">
                                            <h5 class="modal-title animate__fadeInLeft" style="animation-duration: 0.5s !important;" id="exampleModalLabel">Pagar Comision</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                        </div>
                                        <div class="modal-body">
                                            <span>Pago comision a</span>
                                            <strong><span class="text-warning">{{ commission.adviser }}</span></strong>

                                            <div>
                                                <p><strong>Monto : <span class="text-warning">${{ commission.amount }}</span> ({{commission.interest}}% de  $ <span class="text-warning">{{commission.operation_amount}}</span> )</strong></p>

                                                <p><strong>Tipo: <span class="text-warning">{{ commission.type }}</span></strong></p>

                                                <p><strong>Detalle: {{ commission.detail }} </strong></p>

                                                <p><strong>Interes: <input name="porcentage" type="number" step="0.01" id="porcentage{{commission.id}}" placeholder="{{commission.interest}}" oninput="calculateResult('{{ commission.operation_amount }}','{{ commission.interest }}','{{ commission.id }}')" >
                                            <p id="result{{commission.id}}"></p>
                                            </strong>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-success">Confirmar</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--End Modal-->
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Sin comisiones</p>
        {% endif %}
    </section>
</main>

<script>
    function calculateResult(value, interest, id) {
        var porcentage = document.querySelector(`#porcentage${id}`).value;
        porcentage = porcentage.replace(",", ".");
        var real_value = value.replace(",", ".");

        if (isNaN(parseFloat(porcentage))) {
            var resultadoElem = document.getElementById(`result${id}`);
            resultadoElem.innerHTML = "Calculando...";
            return;
        }

        porcentage = parseFloat(porcentage);

        var total_amount = real_value * (porcentage / 100);

        var resultadoElem = document.getElementById(`result${id}`);
        resultadoElem.innerHTML = ("Total: $" + total_amount.toFixed(2));
    }

    function setDefaultInterest(id) {
        var input = document.querySelector(`#porcentage${id}`);
        var placeholder = input.getAttribute('placeholder');
        var value = placeholder.replace(',', '.');
        input.value = value;
    }
</script>
{% endblock content %}