{% extends "core/base.html" %} {% block content %} {% load static %}
<!--Main-->
<link href="{% static 'adviser/css/adviser.css' %}" rel="stylesheet">
<main class="container my-4">
    <h4 class="title font-weight-normal animate__fadeInLeft" style="animation-duration: 0.5s !important;">Asesores</h4>
    <!--Seccion 1-->
    {% if messages %} {% for message in messages %}
    <div class="alert alert-{{message.extra_tags}} alert-dismissible" role="alert">
        <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
        <span class="font-weight-light">{{ message }}</span>
    </div>
    {% endfor %} {% endif %}
    <section>
        <div class="row mt-4">
            <div class="col-xl-3 col-sm-6 col-12 p-3">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="align-self-center">
                                    <i class="fa-solid fa-users text-warning icon-lg"></i>
                                </div>
                                <div class="media-body text-right">
                                    <h5>{{count_advisers}}</h5>
                                    <span>Total de Asesores Registrados</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer p-1 bg-secondary rounded-bottom"></div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-xl-3 col-sm-6 col-12 p-3">
                <a name="" id="" class="btn btn-primary rounded p-3" href="{% url 'signup' %}" role="button">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    <span>Registrar Nuevo Asesor</span>
                </a>
            </div>
        </div>

    </section>
    <section>
        <div class="container p-0">
            <div class="row justify-content-start">
                {% if advisers %}
                <!--Card Asesor 1-->
                {% for adviser in advisers %}
                <div class="col-md-4">
                    <div class="profile-card-4 text-center border rounded box-shadow my-4 bg-white">
                        <a href="{% url 'advisers:detail' adviser.pk %}" class="profile-content link-dark text-decoration-none">
                            <div class="profile-name py-4">
                                <p class="p-2 m-0"><i class="fas fa-user-circle text-warning"></i> Nombre Asesor</p>
                                <img src="{% static 'registration/img/no-avatar-A.png' %}" class="img-fluid rounded-circle shadow-4 py-2" style="width: 50px;" alt="avatar-profile">
                                <p><i class="fa-solid fa-envelope text-warning"></i> @correo-asesor</p>
                                <p><i class="fas fa-phone-alt text-warning"></i> +54-387-456678</p>
                            </div>
                            <div class="profile-description py-2"><i class="fas fa-calendar-day text-warning"></i> Registrado el: 23/03/2023</div>
                            <div class="row justify-content-center py-4">
                                <div class="col-xs-4">
                                    <div class="profile-overview m-2">
                                        <p><strong><i class="fas fa-users text-warning"></i> Clientes</strong></p>
                                        <h5>1300</h5>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="profile-overview m-2">
                                        <p><strong><i class="fas fa-money-check-alt text-warning"></i> Cobros</strong></p>
                                        <h5>250</h5>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="profile-overview m-2">
                                        <p><strong><i class="fas fa-dollar-sign text-warning"></i> Comisiones</strong></p>
                                        <h5>168</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="card-footer p-1 bg-secondary rounded-bottom"></div>
                    </div>
                </div>
                {% endfor %} {% else %}
                <h5 class="title font-weight-normal animate__fadeInLeft" style="animation-duration: 0.5s !important;">No hay Asesores Registrados</h5>
                {% endif %}
            </div>
        </div>
    </section>
    <!--Seccion 2-->
</main>

{% endblock content %}