{% extends "core/base.html" %} {% block content %} {% load static %} {% if commissions %}
<table class="table table-striped table-hover">
    <thead class="table-light">
        <tr>
            {% for name_prop in properties %}
            <th scope="col">{{name_prop}}</th>
            {% endfor %} {% if user.is_superuser %}
            <th scope="col">Acciones</th>
            {% endif %}

        </tr>
    </thead>
    <tbody>
        {% for commission in commissions %}
        <tr>
            <td>{{commission.amount}}</td>
            <td>{{commission.type}}</td>
            <td>{{commission.created_at}}</td>
            <td>{{commission.detail}}</td>
            <td>{{commission.interest}}</td>
            {% if user.is_superuser %}
            <td>
                <a type="button" class="btn" data-toggle="modal" data-target="#exampleModal{{commission.pk}}"><i class="fa-solid fa-check"></i> &nbsp;</a>
                <!--Modal-->
                <div class="modal fade" id="exampleModal{{commission.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{commission.pk}}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <form action="{% url 'advisers:pay_commission' commission.pk %}" method="POST">
                                {% csrf_token %}
                                <div class="modal-header">
                                    <h5 class="modal-title animate__fadeInLeft" style="animation-duration: 0.5s !important;" id="exampleModalLabel">Eliminar Cliente</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                </div>
                                <div class="modal-body">
                                    <span>Pago comision a</span>
                                    <strong>{{ commission.adviser }} </strong>?

                                    <div>
                                        <p><strong>Monto : ${{ commission.amount }} ({{commission.interest}}% de {{commission.operation_amount}})</strong></p>

                                        <p><strong>Tipo: {{ commission.type }} </strong></p>

                                        <p><strong>Detalle: {{ commission.detail }} </strong></p>

                                        <p><strong>Interes: <input name="porcentage" type="number" id="porcentage{{commission.id}}" placeholder="{{commission.interest}}" oninput="calculateResult('{{ commission.amount }}','{{ commission.interest }}','{{ commission.id }}')" >1
                                            <p id="result{{commission.id}}"></p>
                                            </strong>
                                        </p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-success">Confirmar</button>
                                    <button type="button" class="btn btn-primary m-2 rounded p-2" data-dismiss="modal">Cerrar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--End Modal-->
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
<script>
   function calculateResult(amount, interest, id) {
        var porcentage = document.querySelector(`#porcentage${id}`).value;
        porcentage = porcentage.replace(",", ".");

        if (isNaN(parseFloat(porcentage))) {
            var resultadoElem = document.getElementById(`result${id}`);
            resultadoElem.innerHTML = "Calculando...";
            return;
        }

        porcentage = parseFloat(porcentage);

        let total_amount = parseFloat(amount)*(porcentage/100);

        var resultadoElem = document.getElementById(`result${id}`);
        resultadoElem.innerHTML = ("Total: $" + total_amount.toFixed(2));
    }
    </script>
 {% endblock content %}