{% extends "core/base.html" %} {% block content %} {% load static %}
<!--Main-->
<link href="{% static 'note/css/note.css' %}" rel="stylesheet">
<main class="container my-4">
    <h4 class="title font-weight-normal animate__fadeInLeft" style="animation-duration: 0.5s !important;">Notas</h4>
    <!--Seccion 1-->
    {% include 'core/message.html' %}
    <section>
        <div class="row mt-4 ">
            <div class="col-xl-3 col-sm-6 col-12 p-3 ">
                <div class="card bg-primary text-white">
                    <div class="card-content m-0">
                        <div class="card-body m-0">
                            <div class="media d-flex ">
                                <div class="align-self-center ">
                                    <i class="fa-solid fa-note-sticky text-warning icon-lg"></i>
                                </div>
                                <div class="media-body text-right ">
                                    <h5 class="title font-weight-bold" style="font-size: 2rem;">{{count_notes}}</h5>
                                    <span class="font-weight-bold" style="font-size: 1.4rem;">Total de Notas</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-xl-3 col-sm-6 col-12 p-3">
                <a name="" id="" class="btn btn-secondary rounded p-3" href="{% url 'notes:create' %}" role="button">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    <span>Cargar Nuevo Nota</span>
                </a>
            </div>
        </div>

    </section>
    <section class="container bootstrap snippets bootdeys">
        {% if notes %}
        <h5>Notas Generales</h5>
        <div class="row">
            {% for note in notes %} {% include "note/includes/note_card.html" %} {% endfor %}
        </div>
        {% else %}
        <h5 class="title font-weight-normal">No hay Notas Registradas</h5>
        {% endif %}
    </section>
    <!--Seccion 2-->
</main>

{% endblock content %}