{% extends "core/base.html" %} {% block content %} {% load static %}
<!--Main-->
<link href="{% static 'cashregister/css/cashregister.css' %}" rel="stylesheet">
<main class="container my-4">
    <h4 class="title font-weight-normal animate__fadeInLeft" style="animation-duration: 0.5s !important;">Clientes</h4>
    <!--Seccion 1-->
    {% if messages %} {% for message in messages %}
    <div class="alert alert-primary alert-dismissible" role="alert">
        <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
        <span class="font-weight-light">{{ message }}</span>
    </div>
    {% endfor %} {% endif %}
    <section>
        <div class="row mt-4 align-items-start">
            <div class="col-xl-3 col-sm-3 col-lg-3">
                <div class="card bg-primary text-white box-shadow">
                    <div class="card-body pb-0" id="movements-carousel">
                        <h5 class="text-title animate__fadeInDown" style="animation-duration: 0.5s !important;"><i class="fa-solid fa-down-left-and-up-right-to-center text-warning"></i> &nbsp;Cantidad de Clientes</h5>
                        <!-- Slider main container -->
                        <div class="swiper bg-primary">
                            <!-- Additional required wrapper -->
                            <ul class="swiper-wrapper p-0 list" style="cursor: pointer;">
                                <!-- ... contenido del list-group ... -->
                                {% for count in count_clients_dict %}
                                <li class="swiper-slide list-group-item bg-primary border-0">
                                    <div class="text-warning font-weight-bold">{{ count.label }}</div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        {% if count.value >= 0 %}
                                        <ion-icon name="trending-up-outline" class="text-success mr-2" style="font-size: 2rem;">
                                            <svg viewBox="0 0 512 512">
                                <path fill="none" stroke="currentColor" stroke-width="44" stroke-linecap="round" stroke-miterlimit="10" d="M416 128v192M288 256H96"></path></svg>
                                        </ion-icon>
                                        {% else %}
                                        <ion-icon name="trending-down-outline" class="text-danger mr-2" style="font-size: 2rem;">
                                            <svg viewBox="0 0 512 512">
                                <path fill="none" stroke="currentColor" stroke-width="44" stroke-linecap="round" stroke-miterlimit="10" d="M416 128v192M288 256H96"></path></svg>
                                        </ion-icon>
                                        {% endif %} {% if count.value >= 0 %}
                                        <span class="text-white"><strong style="font-size: 2rem;">+{{ count.value}}</strong></span> {% else %}
                                        <span class="text-white"><strong style="font-size: 2rem;">{{ count.value }}</strong></span> {% endif %}
                                    </div>

                                </li>
                                {% endfor %}
                            </ul>
                            <div class="swiper-pagination"></div>
                            <!-- If we need scrollbar -->
                            <div class="d-none swiper-scrollbar"></div>
                        </div>
                    </div>
                </div>
                <div class="card bg-primary my-2 border-0 text-white box-shadow ">
                    <a name="" id="" class="btn btn-secondary rounded p-3" href="{% url 'clients:create' %}" role="button">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        <span>Cargar Nuevo Cliente</span>
                    </a>
                </div>
                <div class="row justify-content-between mb-2">
                    <div class="col-12">
                        <div class="card bg-primary text-white box-shadow">
                            <div class="card-body pb-0" id="movements-carousel">
                                <h5 class="text-center text-title animate__fadeInDown" style="animation-duration: 0.5s !important;"><i class="fas fa-chart-line text-warning"></i> &nbsp;Scores</h5>
                                <!-- Slider main container -->
                                <div class="swiper bg-primary">
                                    <!-- Additional required wrapper -->
                                    <ul class="swiper-wrapper p-0 list" style="cursor: pointer;">
                                        <!-- ... contenido del list-group ... -->
                                        {% for count in score_counts_list %}
                                        <li class="swiper-slide list-group-item bg-primary border-0">
                                            <div class="text-warning font-weight-bold text-center">{{ count.label }}</div>
                                            <div class="d-flex justify-content-center align-items-center">
                                                <span class="text-white"><strong style="font-size: 2rem;">+{{ count.value}}</strong></span>
                                            </div>

                                        </li>
                                        {% endfor %}
                                    </ul>
                                    <div class="swiper-pagination"></div>
                                    <!-- If we need scrollbar -->
                                    <div class="d-none swiper-scrollbar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-sm-6 col-lg-6">
                <div class="col-xl-12 col-sm-12 col-lg-12">
                    <div class="card bg-primary text-white mb-2">
                        <div class="card-body">
                            <h5 class="card-title animate__fadeInDown" style="animation-duration: 0.5s !important;"><i class="fa-solid fa-cash-register text-warning"></i>&nbsp;Busquedas</h5>
                            <form class="form row">
                                <div class="form-group col-12 col-md-4">
                                    {{ listing_filter.form.dni }}
                                </div>
                                <div class="form-group col-12 col-md-5">
                                    {{ listing_filter.form.first_name_or_last_name }}
                                </div>
                                <div class="form-group col-12 col-md-2 text-center">
                                    <button class="btn btn-warning text-white box-shadow rounded ml-2" type="submit">Buscar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-sm-12 col-lg-12">
                    <div class="card box-shadow">
                        <div class="card-body">
                            <h5 class="text-title animate__fadeInDown" style="animation-duration: 0.5s !important;"><i class="fa-solid fa-users"></i> &nbsp;Clientes</h5>
                            {% include "clients/includes/client_table.html" %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-3 col-lg-3">
                {% if clients_top %}
                <div class="card bg-primary text-white">
                    <div class="card-body">
                        <h5 class="text-title animate__fadeInDown" style="animation-duration: 0.5s !important;"><i class="fas fa-trophy text-warning"></i> &nbsp;Clientes Top</h5>
                        <!-- Slider main container -->
                        <h6 class="text-title text-center animate__fadeInDown" style="animation-duration: 0.5s !important;"><i class="fas fa-star text-warning"></i> &nbsp;Mas creditos</h6>
                        <div class="swiper bg-primary">
                            <!-- Additional required wrapper -->
                            <ul class="swiper-wrapper p-0 list" style="cursor: pointer;">
                                <!-- ... contenido del list-group ... -->
                                {% for client in clients_top_credits %}
                                <li class="swiper-slide list-group-item bg-primary border-0">
                                    <div class="text-center">
                                        <a class="text-warning font-weight-bold text-center" href="{% url 'clients:detail' client.pk %}" style="font-size: 1.5rem;">{{ client.first_name }} {{client.last_name}}</a>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                            <div class="swiper-pagination"></div>
                            <!-- If we need scrollbar -->
                            <div class="d-none swiper-scrollbar"></div>
                        </div>
                        <h6 class="mt-2 text-title text-center animate__fadeInDown" style="animation-duration: 0.5s !important;"><i class="fas fa-medal text-warning"></i> &nbsp;Mejor score</h6>
                        <ul class="list-group list-group-flush">
                            {% for client in clients_top %}
                            <li class="list-group-item bg-primary">
                                <div class="ms-2 me-auto">
                                    <div class="font-weight-bold"><a class="text-white" href="{% url 'clients:detail' client.pk %}">{{client.first_name}} {{client.last_name}}</a></div>
                                    <div>
                                        <span>Registrado el </span>
                                        <span class="font-weight-bold text-warning">{{client.created_at|date}}</span>
                                    </div>
                                    <div>
                                        <span>Por </span>
                                        <a href="{% url 'advisers:detail' client.adviser.pk %}" class="font-weight-bold text-warning">{{client.adviser}}</a>
                                    </div>
                                    <div>
                                        <span>Score: </span>
                                        <span class="badge bg-warning rounded-pill">{{client.score}}</span>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
    <div id="offcanvas" class="card bg-primary text-white offcanvas">
    </div>
    <div id="overlay"></div>
</main>
<script type="module">
    import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.esm.browser.min.js';
</script>
<script>
    const swiper = new Swiper('.swiper', {
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
        pagination: {
            el: ".swiper-pagination",
            dynamicBullets: true,
        },
    });
</script>
<script>
    const openButtons = document.querySelectorAll(".open-offcanvas");
    const offcanvas = document.getElementById("offcanvas");
    const overlay = document.getElementById("overlay");
    const offcanvasContent = offcanvas.querySelector(".offcanvas");

    openButtons.forEach(button => {
        button.addEventListener("click", function() {
            const info = JSON.parse(this.getAttribute("data-info").replace(/\n/g, ""));
            const regex = /\d+/g;

            const phoneNumbers = [];
            let match;
            if (info.phone_numbers) {
                while ((match = regex.exec(info.phone_numbers.toString())) !== null) {
                    phoneNumbers.push(match[0]);
                }
            }
            let phoneNumbersHtml;
            if (phoneNumbers.length == 0) {
                phoneNumbersHtml = '<a class ="pr-2 font-weight-bold text-warning">Sin datos de contacto</a>'
            } else {
                phoneNumbersHtml = phoneNumbers.map(number => `<a class="pr-2 font-weight-bold text-warning" href="tel:${number}">${number}</a>`).join("");
            }

            offcanvas.innerHTML = `
            <div class="card-body">
                <a href="/clients/${info["id"]}"><p class="m-0 text-white text-link" style="font-size: 2rem;text-decoration:none!important;">${info["first_name"]} ${info["last_name"]}</p></a>
                <p class="m-0">Registrado por asesor financiero</p>
                <a href="/asesors/${info["adviser_id"]}"><p class="text-warning"><strong>${info["adviser"]}</strong></p></a>
                <h5 class="m-0">Contacto</h5>
                <ul class="list p-0">
                ${phoneNumbersHtml}
                </ul>
                <p class="m-0">Numero de dni: </p>
                <span><a class="text-warning"><strong>${info["dni"]}</strong></a></span>
                <p class="m-0">Profesion: </p>
                <span><a class="text-warning"><strong>${info["profession"]}</strong></a></span>
                <p class="m-0">Domicilio: </p>
                <span><a class="text-warning"><strong>${info["address"]}</strong></a></span>
                <p class="m-0">Domicilio laboral: </p>
                <span><a class="text-warning"><strong>${info["job_address"]}</strong></a></span>
                <p class="m-0">Estado civil: </p>
                <span><a class="text-warning"><strong>${info["civil_status"]}</strong></a></span>
                <h5 class="title pt-3">Acciones</h5>
                <a type="button" class="btn" data-toggle="modal" data-target="#exampleModal${info["id"]}"><i class="fas fa-trash-alt text-danger"></i> &nbsp;</a>
                <a href="/clients/update/${info["id"]}" ><i class="fas fa-edit text-info"></i></a>
            </div>
            <div class="card-footer text-muted">
                <p class="m-0">Fecha y hora de realizacion</p>
                <p><strong>${info["created_at"]}</strong></p>
            </div>
            `
            offcanvas.classList.add("open");
            overlay.style.display = "block";

        });
    });

    overlay.addEventListener("click", function() {
        offcanvas.classList.remove("open");
        overlay.style.display = "none";
    });
</script>
{% endblock content %}