{% extends "core/base.html" %} {% block content %} {% load static %}
<!--Main-->
<link href="{% static 'clients/css/client_detail.css' %}" rel="stylesheet">
<main class="container my-4">
    <!--Seccion 1-->
    <h4 class="title font-weight-normal animate__fadeInLeft" style="animation-duration: 0.5s !important;">{{client.first_name}} {{client.last_name}}</h4>
    {% if messages %} {% for message in messages %}
    <div class="alert alert-{{message.extra_tags}} alert-dismissible" role="alert">
        <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
        <span class="font-weight-light">{{ message }}</span>
    </div>
    {% endfor %} {% endif %}
    <section>
        <div class="row justify-content-center">
            <div class="col-xl-3 col-sm-3 col-12 p-3">
                <!-- Swiper -->
                <div class="swiper SwiperCards">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="card bg-primary box-shadow text-white">
                                <div class="card-body">
                                    <h5 class="card-title animate__fadeInDown" style="animation-duration: 0.5s !important;"><i class="fa-sharp fa-solid fa-trophy text-warning"></i>&nbsp;Score</h5>
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="text-warning font-weight-bold">{{client.score_label}}</p>
                                        </div>
                                    </div>
                                    <div class="row justify-content-around align-items-center">
                                        {% if client.score_label == "Exelente" or client.score_label == "Muy Bueno" %}
                                        <div class="led-success"></div>
                                        {% elif client.score_label == "Bueno" %}
                                        <div class="led-warning"></div>
                                        {% else %}
                                        <div class="led-danger"></div>
                                        {% endif %}

                                        <span class="text-white" style="font-size: 2rem">{{client.score}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card bg-primary box-shadow text-white">
                                <div class="card-body">
                                    <h5 class="card-title animate__fadeInDown" style="animation-duration: 0.5s !important;"><i class="fa-sharp fa-solid fa-trophy text-warning"></i>&nbsp;Score</h5>
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="text-warning font-weight-bold">{{client.score_label}}</p>
                                        </div>
                                    </div>
                                    <div class="row justify-content-around align-items-center">
                                        {% if client.score_label == "Exelente" or client.score_label == "Muy Bueno" %}
                                        <div class="led-success"></div>
                                        {% elif client.score_label == "Bueno" %}
                                        <div class="led-warning"></div>
                                        {% else %}
                                        <div class="led-danger"></div>
                                        {% endif %}

                                        <span class="text-white" style="font-size: 2rem">{{client.score}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="col-xl-5 col-sm-6 col-12 p-3">
                <!-- Swiper -->
                <div class="swiper SwiperData">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" style="height: auto;">
                            <div class="card bg-primary text-white">
                                <h5 class="title pt-3 text-center"><i class="fas fa-id-card text-warning"></i> Datos Personales</h5>
                                <div class="d-flex justify-content-around">
                                    <div class="px-2">
                                        <p><span>Domicilio: </span><strong class="text-warning">{{client.address}}</strong></p>
                                        <p><span>Estado civil: </span><strong class="text-warning">{{client.get_civil_status_display}}</strong></p>
                                        <p><span>Profesion: </span><strong class="text-warning">{{client.profession}}</strong></p>
                                    </div>
                                    <div>
                                        <p><span>DNI: </span><strong class="text-warning">{{client.dni}}</strong></p>
                                        <p><span>Domicilio Laboral: </span><strong class="text-warning">{{client.job_address}}</strong></p>
                                        <p><span>Correo: </span><strong class="text-warning">{{client.email}}</strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" style="height: auto;">
                            <div class="card bg-primary text-white">
                                <h5 class="title pt-3 text-center"><i class="fas fa-id-card text-warning"></i> Datos Personales</h5>
                                <div class="d-flex justify-content-around">
                                    <div class="px-2">
                                        <p><span>Domicilio: </span><strong class="text-warning">{{client.address}}</strong></p>
                                        <p><span>Estado civil: </span><strong class="text-warning">{{client.get_civil_status_display}}</strong></p>
                                        <p><span>Profesion: </span><strong class="text-warning">{{client.profession}}</strong></p>
                                    </div>
                                    <div>
                                        <p><span>DNI: </span><strong class="text-warning">{{client.dni}}</strong></p>
                                        <p><span>Domicilio Laboral: </span><strong class="text-warning">{{client.job_address}}</strong></p>
                                        <p><span>Correo: </span><strong class="text-warning">{{client.email}}</strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 col-12 p-3">
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-xl-3 col-sm-6 col-12 p-3">
                <div class="card bg-primary text-white media p-4">
                    <h5 class="title py-3">Registro</h5>
                    <p class="m-0">Asesor Financiero</p>
                    <p><a class="text-warning" href="{% url 'advisers:detail' client.adviser.pk %}"><strong>{{client.adviser}}</strong></a></p>
                    <p class="m-0">Fecha de Entrada al sistema</p>
                    <p><strong>{{client.created_at|date}}</strong></p>
                    <h5 class="title pt-3">Creditos</h5>
                    {% if credits %}
                    <p>Cantidad de Creditos </p>
                    <p>Tiene un credito activo</p>
                    {% else %}
                    <p>No se registraron Creditos</p>
                    {% endif %}
                </div>
            </div>

        {% if credits_active %} 

        {% for credit_active, form_payment in client_payment.items %} 
<!-- DICCIONARIO PARA RECORRER COMPLETAMENTE LOS CREDITOS Y FORMULARIOS (PAGOS Y REF.) , CUOTAS Y FORMULARIOS DE PAGO DE REF.-->
        <!-- credit_active = credito actual | form_payment ( _.0 = formulario de pago - _.1 = formulario de refinanciacion) -->
        <div class="col-xl-9 col-sm-6 col-12 p-3">
            <div class="card box-shadow">
                <div class="card-body">
                    <div id="title-card" class="d-flex p-0 m-0 align-items-center">
                        <div class="led-success"></div>
                        <h5 class="title pl-3 m-0">Credito activo</h5>
                    </div>
                    <div class="col-12 col-md-5 mt-4">
                        <div class="row align-items-center">
                            <div class="col p-0">
                                <span>Monto solicitado:</span>
                            </div>
                            <div class="col p-0">
                                <span class="font-weight-bold" style="font-size: 1.2rem;">${{credit_active.amount}}</span>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col p-0">
                                <span>Monto a devolver:</span>
                            </div>
                            <div class="col p-0">
                                <span class="font-weight-bold" style="font-size: 1.2rem;">$ {{credit_active.credit_repayment_amount}}</span>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col p-0">
                                <span>Cuotas:</span>
                            </div>
                            <div class="col p-0">
                                <span class="font-weight-bold" style="font-size: 1.2rem;">{{credit_active.installment_num}}</span>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-12 p-0">
                                <div class="form-group">
                                    <!-- BOTON MODAL PARA PAGOS DE CUOTAS -->
                                        {% if installments_available %} 
                                            {{ credit_active.pk}}
                                                {% with form_payment.0 as form_payment %}<!-- .0 para formulario de refinanciacion -->
                                                    {% include "payment/payment_form.html" %}  
                                                {% endwith %}
                                        {% endif %}
                                        
                                        {% if credit_active.installments.first.is_paid_installment %}
                                        <div type="button" class="btn btn-primary p-3" data-toggle="modal" data-target="#Refinancing{{credit_active.pk}}">
                                            <i class="fas fa-sync-alt text-info"></i>
                                            <span onclick="get_id(`{{credit_active.pk}}`)">Refinanciar</span>
                                        </div>
                                        <!--Modal de refinanciacion-->
                                        <div class="modal fade" id="Refinancing{{credit_active.pk}}" tabindex="-1" role="dialog" aria-labelledby="Refinancing{{credit_active.pk}}" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content bg-primary text-white">
                                                    <form action="{% url 'credits:refinance' credit_active.pk %}" method="POST">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title" id="exampleModalLabel">Refinanciacion de Cuotas</h4>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            {% csrf_token %} 
                                                                {% with form_payment.1 as form_refinance %}<!-- .1 para formulario de refinanciacion -->
                                                                {{form_refinance.as_p}} 
                                                                
                                                                {% endwith %}
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-success">Refinanciar</button>
                                                            <button type="button" class="btn btn-info m-2 rounded p-2" data-dismiss="modal">Cerrar</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %} 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead class="table-primary text-white">
                            <tr>
                                <th scope="col"><i class="fas fa-coins text-warning"></i> Cuota</th>
                                <th scope="col"><i class="fas fa-dollar-sign text-warning"></i> Monto de la cuota</th>
                                <th scope="col"><i class="fas fa-calendar-alt text-warning"></i> Fecha de vencimiento</th>
                                <th scope="col"><i class="fas fa-check-circle text-warning"></i> Estado</th>
                                {% if installments_available %}
                                <th scope="col"><i class="fas fa-cog text-warning"></i> Acciones</th>
                                {% endif %}

                            </tr>
                        </thead>
                        <tbody>
                            {% for installments in form_payment.2 %}



<!--  USAR installments.1 PARA MANIPULACION DE TUPLA DONDE : installments.1.0 = TABLA DE REFINANCIACION DE LA CUOTA /// installments.1.1 = FORMULARIO DE PAGO DE REFIANNCIACION DE LA CUOTA -->
<!-- EJEMPLO: -->
{% with installments.1.0 as refinancing_table %} <!-- usamos otro nombre para comodidad -->
{% for installment_ref in refinancing_table.installments.all %} 
<!-- refinancing_table.installments.all = son todas las cuotas de la refianciacion  -->
<tr class="alert alert-warning">
    <td>{{installment_ref.installment_number}}</td>
    <td><strong>$ {{installment_ref.amount}}</strong></td>
    <td>{{installment_ref.end_date|date}}</td>
    <td><strong><i class="fas fa-clock text-warning"></i></strong></td>
</tr>
{% endfor %}
{% endwith %}



                                {% with installments.0 as installment %}  <!-- usamos otro nombre para comodidad -->
                                    {% if installment.condition == 'A Tiempo' %}
                                        <tr class="alert alert-warning">
                                            <td>{{installment.installment_number}}</td>
                                            <td><strong>$ {{installment.amount}}</strong></td>
                                            <td>{{installment.end_date|date}}</td>
                                            <td><strong><i class="fas fa-clock text-warning"></i></strong></td>
                                            <td>
                                                <a href="{% url 'credits:installment_update' installment.pk %}"><i class="fas fa-edit"></i></a>
                                            </td>
                                        </tr>
                                        {% elif installment.is_caduced_installment %}
                                        <tr class="alert alert-danger">
                                            <td>{{installment.installment_number}}</td>
                                            <td><strong>$ {{installment.amount}}</strong></td>
                                            <td>{{installment.end_date|date}}</td>
                                            <td><strong><i class="fas fa-exclamation-triangle text-danger"></i></strong></td>
                                            <td>
                                                <a href="{% url 'credits:installment_update' installment.pk %}"><i class="fas fa-edit"></i></a>
                                            </td>
                                        </tr>
                                        {% elif installment.is_paid_installment and installment.is_refinancing_installment %}
                                        <tr class="alert alert-info">
                                            <td>{{installment.installment_number}}</td>
                                            <td><strong>$ {{installment.amount}}</strong></td>
                                            <td>{{installment.end_date|date}}</td>
                                            <td>
                                                <!-- PONER BOTON PARA VER DETALLE DE LA REFINANCIACION  -->
                                                <a href="{% url 'credits:refinance_detail' installment.pk %}">
                                                    <strong><i class="fas fa-sync-alt text-info"></i></strong>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="{% url 'credits:installment_update' installment.pk %}"><i class="fas fa-edit"></i></a>
                                            </td>
                                        </tr>
                                        {% elif installment.is_refinancing_installment %}
                                        <tr class="alert alert-info">
                                            <td>{{installment.installment_number}}</td>
                                            <td><strong>$ {{installment.amount}}</strong></td>
                                            <td>{{installment.end_date|date}}</td>
                                            <td>
                                                <!-- PONER BOTON PARA VER DETALLE DE LA REFINANCIACION  -->
                                                <a href="{% url 'credits:refinance_detail' installment.pk %}">
                                                    <strong><i class="fas fa-sync-alt text-info"></i></strong>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="{% url 'credits:installment_update' installment.pk %}"><i class="fas fa-edit"></i></a>
                                            </td>
                                        </tr>
                                        {% else %}
                                        <tr class="alert alert-success">
                                            <td>{{installment.installment_number}}</td>
                                            <td><strong>$ {{installment.amount}}</strong></td>
                                            <td>{{installment.end_date|date}}</td>
                                            <td><strong><i class="fas fa-check text-success"></i></strong></td>
                                            <td>
                                                <a href="{% url 'credits:installment_update' installment.pk %}"><i class="fas fa-edit"></i></a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endwith %}  
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="card-footer p-1 bg-primary rounded-bottom"></div>
                </div>
            </div>
            {% endfor %} {% else %}
            <div class="col-xl-9 col-sm-6 col-12 p-3 text-center">
                <h5 class="title pt-3">
                    <strong class="text-danger">●</strong> Sin credito activo</h5>
                <a href="{% url 'credits:associate_credit_for_customer' client.pk %}">
                    <div class="col-sm-6 col-12 p-3 text-center">
                        <div class="card mt-4">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="media d-flex">
                                        <div class="align-self-center">
                                            <i class="fa-sharp fa-solid fa-credit-card text-warning icon-lg"></i>
                                        </div>
                                        <div class="media-body text-right">
                                            <h5>+ Agregar Credito</h5>
                                            <h5></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer p-1 bg-info rounded-bottom"></div>
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}

        </div>
        <div class="row mb-4">
            <div class="col-xl-3 col-sm-6 col-12 p-3">
            </div>
        </div>
    </section>
</main>
<script type="module">
    import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.esm.browser.min.js';
</script>

<!--Swipper DataClient-->
<script>
    var swiper = new Swiper(".SwiperData", {
        effect: 'flip',
        flipEffect: {
            slideShadows: false,
        },
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: "auto",
        coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: true,
        },
        autoplay: {
            delay: 2100,
            disableOnInteraction: false,
        },
    });
</script>
</script>
<!--Swipper StateClient-->
<script>
    var swiper = new Swiper(".SwiperCards", {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: "auto",
        coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: true,
        },
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
        pagination: {
            el: '.swiper-pagination',
            type: 'bullets',
        },
    });
</script>

<script>
    function get_id(id){    // CAPTO ID DEL CREDITO PARA LA MANIPULACION DE PAGOS DE SUS CUOTAS
        var id = id;
    
        const checkboxes = document.querySelectorAll('input[type="checkbox"][data-form-id="form_ref'+id+'"]');  //AGREGO ID PARA SABER EXACTAMENTE QUE DE QUE CHECKBOXES SE TRATAN
        const selector = document.querySelector('#id_installment_num_refinancing'+id);  // ID PARA EL SELECTOR EN CASO DE TENER MUCHOS CREDITOS A REFIANNCIAR
        const sumElement = document.querySelector('#id_amount'+id); // ID PARA VER EL MONTO FINAL EN CASO DE QUERER REFIANNCIAR
        const refInstallmentDetail = document.getElementById('ref-installment-detail');
        const refInstallmentAmount = document.createElement('span');
        let porcentaje;

        refInstallmentAmount.classList.add('text-warning', 'font-weight-bold')
        refInstallmentAmount.style.fontSize = '1.5rem';

        function calcularSuma() {
            let sum = 0;
            checkboxes.forEach(checkbox => {
                if (checkbox.checked) {
                    sum += parseFloat(checkbox.value);
                }
            });

            console.log(selector.value);
            switch (parseInt(selector.value)) {
                case 3:
                    porcentaje = 25;
                    break;
                case 6:
                    porcentaje = 50;
                    break;
                case 9:
                    porcentaje = 75;
                    break;
                default:
                    porcentaje = 100;
                    break;
            }
            const selectorValue = parseFloat(selector.value);
            const total = (sum * (porcentaje + 100) / 100).toFixed(2);
            sumElement.value = `${total}`;
        }

        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', calcularSuma);
        });

        selector.addEventListener('change', calcularSuma);
    }
</script>
<script>
    const ledSuccess = document.querySelector('.led-success');
    const ledDanger = document.querySelector('.led-danger');
    const ledWarning = document.querySelector('.led-warning');
    let led;

    if (ledSuccess != null) {
        led = ledSuccess
    } else if (ledDanger != null) {
        led = ledDanger
    } else {
        led = ledWarning
    }

    function blink(led) {
        led.classList.toggle('blink');
    }

    setInterval(() => {
        blink(led);
    }, 1500);
</script>
{% endblock content %}