{% extends "core/base.html" %} {% block content %} {% load static %}
<!--Main-->
<link href="{% static 'cashregister/css/cashregister.css' %}" rel="stylesheet">
<main class="container my-4">
    <h4 class="title font-weight-normal animate__fadeInLeft" style="animation-duration: 0.5s !important;">Clientes</h4>
    <!--Seccion 1-->
    {% if messages %} {% for message in messages %}
    <div class="alert alert-{{message.extra_tags}} alert-dismissible" role="alert">
        <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
        <span class="font-weight-light">{{ message }}</span>
    </div>
    {% endfor %} {% endif %}
    <section>
        <div class="row mt-4">
            <div class="col-xl-3 col-sm-3 col-lg-3">
                <div class="card box-shadow ">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="align-self-center">
                                    <i class="fa-solid fa-users text-warning icon-lg"></i>
                                </div>
                                <div class="media-body text-right">
                                    <h5>{{count_clients}}</h5>
                                    <span>Total de Clientes</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer p-1 bg-primary rounded-bottom"></div>
                </div>
                <div class="card mt-2">
                    <div class="card-body">
                        <h5 class="card-title animate__fadeInDown" style="animation-duration: 0.5s !important;"><i class="fa-solid fa-cash-register"></i>&nbsp;Busquedas</h5>
                        <form class="form">
                            <div class="form-group">
                                {{ listing_filter.form.dni }}
                            </div>
                            <div class="form-group">
                                {{ listing_filter.form.first_name_or_last_name }}
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary rounded ml-2" type="submit">Buscar</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer p-1 bg-primary rounded-bottom"></div>
                </div>
            </div>
            <div class="col-xl-9 col-sm-9 col-lg-9">
                <div class="card box-shadow">
                    <div class="card-body">
                        <h5 class="text-title animate__fadeInDown" style="animation-duration: 0.5s !important;"><i class="fa-solid fa-users"></i> &nbsp;Clientes</h5>
                        {% if clients %}
                        <table class="table table-responsive-lg table-responsive-sm table-responsive-md table-responsive-xl table-striped table-hover">
                            <thead class="table-primary text-white">
                                <tr>
                                    {% for name_prop in properties %}
                                    <th scope="col">{{name_prop}}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for client in page_obj %}
                                <tr>
                                    <td><a href="{% url 'clients:detail' client.pk %}">{{client.first_name}} {{client.last_name}}</a></td>
                                    <td>{{client.dni}}</td>
                                    <td><a href="{% url 'advisers:detail' client.adviser.pk %}">{{client.adviser}}</a></td>
                                    <td>{{client.created_at|date}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <div class="">
                            <ul class="pagination justify-content-center">
                                {% if page_obj.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page=1">&laquo; primero</a></li>
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">anterior</a></li> {% endif %}

                                <li class="page-item">
                                    <a class="page-link">
                                {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </a> {% if page_obj.has_next %}
                                </li>
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">siguiente</a></li>
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">ultimo &raquo;</a> {% endif %}</li>
                            </ul>
                        </div>
                        {% else %}
                        <h5 class="title font-weight-normal">No hay Clientes Registrados</h5>
                        {% endif %}
                    </div>
                    <div class="card-footer text-muted">
                        Footer
                    </div>
                    <div class="card-footer p-1 bg-primary rounded-bottom"></div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-xl-3 col-sm-6 col-12 p-3">
                <a name="" id="" class="btn btn-primary rounded p-3" href="{% url 'credits:create_credit' %}" role="button">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    <span>Cargar Nuevo Cliente</span>
                </a>
            </div>
        </div>

    </section>
    <section>

    </section>
    <!--Seccion 2-->
</main>

{% endblock content %}