{% extends "core/base.html" %} {% block content %} {% load static %}
<!--Main-->
<link href="{% static 'cashregister/css/cashregister.css' %}" rel="stylesheet">
<main class="container my-4">
    <h4 class="title font-weight-normal animate__fadeInLeft" style="animation-duration: 0.5s !important;">Clientes</h4>
    <!--Seccion 1-->
    {% if messages %} {% for message in messages %}
    <div class="alert alert-{{message.extra_tags}} alert-dismissible" role="alert">
        <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
        <span class="font-weight-light">{{ message }}</span>
    </div>
    {% endfor %} {% endif %}
    <section>
        <div class="row mt-4 align-items-start">
            <div class="col-xl-3 col-sm-3 col-lg-3">
                <div class="d-flex m-auto flex-column align-items-stretch flex-shrink-0 bg-primary text-white box-shadow card">
                    <div class="card-body pb-0" id="movements-carousel">
                        <h5 class="text-title animate__fadeInDown" style="animation-duration: 0.5s !important;"><i class="fa-solid fa-down-left-and-up-right-to-center"></i> &nbsp;Estadisticas</h5>
                        <!-- Slider main container -->
                        <div class="swiper bg-primary">
                            <!-- Additional required wrapper -->
                            <ul class="swiper-wrapper p-0 list" style="cursor: pointer;">
                                <!-- ... contenido del list-group ... -->
                                {% for count in count_clients_dict %}
                                <li class="swiper-slide list-group-item bg-primary border-0">
                                    <div class="text-warning font-weight-bold">{{ count.label }}</div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        {% if count.value >= 0 %}
                                        <ion-icon name="trending-up-outline" class="text-success mr-2" style="font-size: 2rem;">
                                            <svg viewBox="0 0 512 512">
                                <path fill="none" stroke="currentColor" stroke-width="44" stroke-linecap="round" stroke-miterlimit="10" d="M416 128v192M288 256H96"></path></svg>
                                        </ion-icon>
                                        {% else %}
                                        <ion-icon name="trending-down-outline" class="text-danger mr-2" style="font-size: 2rem;">
                                            <svg viewBox="0 0 512 512">
                                <path fill="none" stroke="currentColor" stroke-width="44" stroke-linecap="round" stroke-miterlimit="10" d="M416 128v192M288 256H96"></path></svg>
                                        </ion-icon>
                                        {% endif %} {% if count.value >= 0 %}
                                        <span class="text-white" style="font-size: 2rem;">+{{ count.value}}</span> {% else %}
                                        <span class="text-white" style="font-size: 2rem;">{{ count.value }}</span> {% endif %}
                                    </div>

                                </li>
                                {% endfor %}
                            </ul>
                            <div class="swiper-pagination"></div>
                            <!-- If we need scrollbar -->
                            <div class="d-none swiper-scrollbar"></div>
                        </div>
                    </div>
                </div>
                <div class="my-2 bg-primary border-0 text-white box-shadow card">
                    <a name="" id="" class="btn btn-secondary rounded p-3" href="{% url 'credits:create_credit' %}" role="button">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        <span>Cargar Nuevo Cliente</span>
                    </a>
                </div>
            </div>
            <div class="col-xl-6 col-sm-6 col-lg-6">
                <div class="card bg-primary text-white mb-2">
                    <div class="card-body">
                        <h5 class="card-title animate__fadeInDown" style="animation-duration: 0.5s !important;"><i class="fa-solid fa-cash-register text-warning"></i>&nbsp;Busquedas</h5>
                        <form class="form row">
                            <div class="form-group col-12 col-md-4">
                                {{ listing_filter.form.dni }}
                            </div>
                            <div class="form-group col-12 col-md-5">
                                {{ listing_filter.form.first_name_or_last_name }}
                            </div>
                            <div class="form-group col-12 col-md-2 text-center">
                                <button class="btn btn-warning text-white box-shadow rounded ml-2" type="submit">Buscar</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card box-shadow">
                    <div class="card-body">
                        <h5 class="text-title animate__fadeInDown" style="animation-duration: 0.5s !important;"><i class="fa-solid fa-users"></i> &nbsp;Clientes</h5>
                        {% if clients %}
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead class="table-primary text-white">
                                    <tr>
                                        <th scope="col">
                                            <i class="fa fa-user text-warning"></i> Nombre
                                        </th>
                                        <th scope="col">
                                            <i class="fa fa-id-card text-warning"></i> DNI
                                        </th>
                                        <th scope="col">
                                            <i class="fa fa-users text-warning"></i> Asesor
                                        </th>
                                        <th scope="col">
                                            <i class="fa fa-calendar text-warning"></i> Fecha
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for client in page_obj %}
                                    <tr class="open-offcanvas" data-info='{
                                        "first_name": "{{client.first_name}}",
                                        "last_name": "{{client.last_name}}",
                                        "dni": "{{client.dni}}",
                                        "email": "{{client.email}}",
                                        "created_at": "{{client.created_at}}",
                                        "adviser": "{{client.adviser}}",
                                        "address": "{{client.address}}",
                                        "id": "{{client.id}}",
                                        "job_address": "{{client.job_address}}",
                                        "profession": "{{client.profession}}",
                                        "score": "{{client.score}}",
                                        "civil_status": "{{client.get_civil_status_display}}",
                                        "phone_numbers": "{{client.phonenumberclient_set.all}}"
                                    }
                                    '>
                                        <td>{{client.first_name}} {{client.last_name}}</td>
                                        <td>{{client.dni}}</td>
                                        <td>{{client.adviser}}</td>
                                        <td>{{client.created_at|date}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div class="">
                            <ul class="pagination justify-content-center">
                                {% if page_obj.has_previous %}
                                <li class="page-item"><a class="page-link bg-primary text-white" href="?page=1">&laquo; primero</a></li>
                                <li class="page-item"><a class="page-link bg-primary text-white" href="?page={{ page_obj.previous_page_number }}">anterior</a></li> {% endif %}

                                <li class="page-item">
                                    <a class="page-link bg-primary text-white">
                                {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </a> {% if page_obj.has_next %}
                                </li>
                                <li class="page-item"><a class="page-link bg-primary text-white" href="?page={{ page_obj.next_page_number }}">siguiente</a></li>
                                <li class="page-item"><a class="page-link bg-primary text-white" href="?page={{ page_obj.paginator.num_pages }}">ultimo &raquo;</a> {% endif %}</li>
                            </ul>
                        </div>
                        {% else %}
                        <h5 class="title font-weight-normal">No hay Clientes Registrados</h5>
                        {% endif %}
                    </div>
                    <div class="card-footer p-1 bg-primary rounded-bottom"></div>
                </div>
            </div>
        </div>

    </section>
    <section>

    </section>
    <div id="offcanvas" class="card bg-primary text-white offcanvas">
    </div>
    <div id="overlay"></div>
</main>
<script type="module">
    import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.esm.browser.min.js';
</script>
<script>
    const swiper = new Swiper('.swiper', {
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
        pagination: {
            el: ".swiper-pagination",
            dynamicBullets: true,
        },
    });
</script>
<script>
    const openButtons = document.querySelectorAll(".open-offcanvas");
    const offcanvas = document.getElementById("offcanvas");
    const overlay = document.getElementById("overlay");
    const offcanvasContent = offcanvas.querySelector(".offcanvas");

    openButtons.forEach(button => {
        button.addEventListener("click", function() {
            const info = JSON.parse(this.getAttribute("data-info"));

            const regex = /\d+/g;

            const phoneNumbers = [];
            let match;
            while ((match = regex.exec(info.phone_numbers.toString())) !== null) {

                phoneNumbers.push(match[0]);
            }
            const phoneNumbersHtml = phoneNumbers.map(number => `<a class="pr-2 font-weight-bold text-warning" href="tel:${number}">${number}</a>`).join("");
            offcanvas.innerHTML = `
            <div class="card-body">
                <p class="m-0" style="font-size: 2rem"> ${info.first_name} ${info.last_name}    </p> 
                <p class="m-0">Registrado por asesor financiero</p>
                <p><a href="/asesors/${info.adviser.id}" class="text-warning"><strong>${info.adviser}</strong></a></p>
                <h5 class="m-0">Contacto</h5>
                <ul class="list p-0">
                ${phoneNumbersHtml}
                </ul>
                <p class="m-0">Numero de dni: </p>
                <span><a class="text-warning"><strong>${info.dni}</strong></a></span>
                <p class="m-0">Profesion: </p>
                <span><a class="text-warning"><strong>${info.profession}</strong></a></span>
                <p class="m-0">Domicilio: </p>
                <span><a class="text-warning"><strong>${info.address}</strong></a></span>
                <p class="m-0">Domicilio laboral: </p>
                <span><a class="text-warning"><strong>${info.job_address}</strong></a></span>
                <p class="m-0">Estado civil: </p>
                <span><a class="text-warning"><strong>${info.civil_status}</strong></a></span>
                <h5 class="title pt-3">Acciones</h5>
                <a type="button" class="btn" data-toggle="modal" data-target="#exampleModal${info.id}"><i class="fas fa-trash-alt text-danger"></i> &nbsp;</a>
                <a href="/clients/update/${info.id}" ><i class="fas fa-edit text-info"></i></a>
            </div>
            <div class="card-footer text-muted">
                <p class="m-0">Fecha y hora de realizacion</p>
                <p><strong>${info.created_at}</strong></p>
            </div>
            `
            offcanvas.classList.add("open");
            overlay.style.display = "block";

        });
    });

    overlay.addEventListener("click", function() {
        offcanvas.classList.remove("open");
        overlay.style.display = "none";
    });
</script>
{% endblock content %}