{% extends "core/base.html" %} {% block content %} {% load static %}
<!--Main-->
<link href="{% static 'cashregister/css/cashregister.css' %}" rel="stylesheet">
<main class="container my-4">

    <h4 class="title text-center text-lg-left font-weight-normal animate__fadeInLeft" style="animation-duration: 0.5s !important;">Movimientos de Caja</h4>
    {% include 'core/message.html' %}
    <section class="section">
        <div class="row mt-4 align-items-start">
            <div class="col-12 col-lg-12 col-md-12">
                <div class="row">
                    <div class="col-lg-3 pb-3">
                        <div class="card bg-primary text-white box-shadow ">
                            <div class="card-body">
                                <h5 class="card-title animate__fadeInDown" style="animation-duration: 0.5s !important;">
                                    <i class="fa-solid fa-right-left text-warning"></i>&nbsp;Realizar movimiento
                                    {% if user.is_superuser %}
                                    <button class="btn btn-danger" name="password_modal" data-toggle="modal" data-target="#Password"><i class="fa fa-cog text-white" aria-hidden="true"></i></button>
                                    <!--Auth Modal Password-->
                                    <form method="post" action="{% url 'cashregister:change_password' %}">
                                        <div class="modal fade" id="Password" tabindex="-1" role="dialog" aria-labelledby="Password" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content bg-primary text-white">
                                                    <div class="modal-header bg-primary text-white">
                                                        <h5 class="modal-title" id="Password">Cambio de contraseña</h5>
                                                        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div id='modal-body_confirmation' class="modal-body">
                                                        {% csrf_token %}
                                                        {{cash_password.auth_expenses}}
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-success" type="submit" id="confirm-button">Confirmar</button>
                                                        <button type="button" class="btn btn-secondary m-2 p-2" data-dismiss="modal">Cerrar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <!--End Auth Modal Password-->
                                    {% endif %}
                                </h5>
                                <form class="form" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <div class="input-group">
                                            <label for="{{ form.amount.id_for_label }}" class="input-group-text bg-warning rounded-0 border-0 text-white">{{ form.amount.label }}</label> {{ form.amount }}
                                            <div class="input-group-prepend">
                                                <span class="input-group-text bg-warning text-white">$</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="{{ form.description.label }}" class="form-label">{{ form.description.label }}</label>
                                        <textarea class="form-control" required id="{{ form.description.id_for_label }}" name="{{ form.description.name }}" rows="3"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="{{ form.money_type.id_for_label }}" class="form-label">{{ form.money_type.label }}</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend ">
                                                <span class="input-group-text bg-warning text-white">{{ form.money_type.symbol }}</span>
                                            </div>
                                            {{ form.money_type }}
                                        </div>
                                    </div>
                                    <div class="form-group mt-2 mb-1">
                                        <label for="{{ form.operation_mode.id_for_label }}" class="form-label">{{ form.operation_mode.label }}</label> {{ form.operation_mode }}

                                        <div class="card-row d-flex flex-md-row flex-column justify-content-center">
                                            <div class="col-md-6 p-1">
                                                <a id="egreso" name="egreso" data-toggle="modal" data-target="#exampleModal" class="btn rounded btn-danger box-shadow w-100 text-white" onclick="modal_funtion('egreso', `{{cashregister.auth_expenses}}`,`{{user.is_superuser}}`)">Egreso</a>
                                            </div>
                                            <div class="col-md-6 p-1">
                                                <a id="ingreso" name="ingreso" data-toggle="modal" data-target="#exampleModal" class="btn rounded btn-secondary box-shadow w-100" onclick="modal_funtion('ingreso')">Ingreso</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Auth Modal Egreso-->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content bg-primary text-white">
                                                <div class="modal-header bg-primary text-white">
                                                    <h5 class="modal-title" id="exampleModalLabel">Confirmar Movimiento</h5>
                                                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div id='modal-body_confirmation' class="modal-body">
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-success" type="submit" id="confirm-button">Confirmar</button>
                                                    <button type="button" class="btn btn-secondary m-2 p-2" data-dismiss="modal">Cerrar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Auth Modal Egreso-->

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row justify-content-center">
                            <div class="col-lg-6 pb-3 align-items-stretch">
                                <div class="card bg-primary text-white box-shadow">
                                    <div class="card-body border-bottom-0">
                                        <h5 class="card-title animate__fadeInDown" style="animation-duration: 0.5s !important;"><i class="fa-solid fa-cash-register text-warning"></i>&nbsp;Caja</h5>
                                        <div class="row align-items-center justify-content-center">
                                            <div id="balance">
                                                {% if cashregister.total_balanceARS.amount > 0 %}
                                                <span class="box-amount text-white font-weight-bold" style="font-size: 2rem; font-weight: 300;"> {{cashregister.total_balanceARS.amount|floatformat:2}} </span>
                                                <span class="text-warning font-weight-bold"> {{cashregister.total_balanceARS.currency}} </span> {% else %}
                                                <span class="box-amount text-white font-weight-bold" style="font-size: 2rem; font-weight: 300;">{{cashregister.total_balanceARS.amount|floatformat:2}} </span>
                                                <span class="text-warning font-weight-bold"> {{cashregister.total_balanceARS.currency}} </span> {% endif %}

                                            </div>
                                        </div>
                                        <div class="row align-items-center justify-content-center">
                                            <!-- Crear los botones para cada balance -->
                                            <div class="btn-group mt-3" role="group" aria-label="Balances">
                                                <button type="button" class="btn btn-secondary" onclick="showBalance('{{ cashregister.total_balanceARS }}')">ARS</button>
                                                <button type="button" class="btn btn-secondary" onclick="showBalance('{{ cashregister.total_balanceUSD }}')">USD</button>
                                                <button type="button" class="btn btn-secondary" onclick="showBalance('{{ cashregister.total_balanceEUR }}')">EUR</button>
                                                <button type="button" class="btn btn-secondary" onclick="showBalance('{{ cashregister.total_balanceTRANSFER }}')">TRAN</button>
                                                <button type="button" class="btn btn-secondary" onclick="showBalance('{{ cashregister.total_balanceCREDITO }}')">CRED</button>
                                                <button type="button" class="btn btn-secondary" onclick="showBalance('{{ cashregister.total_balanceDEBITO }}')">DEB</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 pb-3 align-items-stretch">
                                <div class="card bg-primary text-white box-shadow">
                                    <div class="card-body pb-0" id="movements-carousel">
                                        <h5 class="card-title animate__fadeInDown" style="animation-duration: 0.5s !important;"><i class="fa-solid fa-down-left-and-up-right-to-center text-warning"></i> &nbsp;Balances</h5>
                                        <!-- Slider main container -->
                                        <div class="swiper mb-2 bg-primary">
                                            <!-- Additional required wrapper -->
                                            <ul class="swiper-wrapper p-0 list" style="cursor: pointer;">
                                                <!-- ... contenido del list-group ... -->
                                                {% for balance in balances %}
                                                <li class="swiper-slide list-group-item bg-primary border-0">
                                                    <div class="text-warning font-weight-bold">{{ balance.label }}</div>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        {% if balance.value >= 0 %}
                                                        <ion-icon name="trending-up-outline" class="text-success mr-2" style="font-size: 2rem;">
                                                            <svg viewBox="0 0 512 512">
                                                <path fill="none" stroke="currentColor" stroke-width="44" stroke-linecap="round" stroke-miterlimit="10" d="M416 128v192M288 256H96"></path></svg>
                                                        </ion-icon>
                                                        {% else %}
                                                        <ion-icon name="trending-down-outline" class="text-danger mr-2" style="font-size: 2rem;">
                                                            <svg viewBox="0 0 512 512">
                                                <path fill="none" stroke="currentColor" stroke-width="44" stroke-linecap="round" stroke-miterlimit="10" d="M416 128v192M288 256H96"></path></svg>
                                                        </ion-icon>
                                                        {% endif %} {% if balance.value >= 0 %}
                                                        <span class="balAmount font-weight-bold text-white" style="font-size: 2rem;">+{{ balance.value|floatformat:2}}</span> {% else %}
                                                        <span class="balAmount font-weight-bold" style="font-size: 2rem;color: #ff6961;">{{ balance.value|floatformat:2}}</span> {% endif %}
                                                        <span class="text-white font-weight-bold text-warning last-balance-title mb-0">{{ balance.money_type }}</span>
                                                    </div>

                                                </li>
                                                {% endfor %}
                                            </ul>
                                            <div class="swiper-pagination"></div>
                                            <!-- If we need scrollbar -->
                                            <div class="d-none swiper-scrollbar"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-12 pt-3">
                                <div class="card bg-primary text-white box-shadow">
                                    <div class="card-body">
                                        <h5 class="card-title animate__fadeInDown" style="animation-duration: 0.5s !important;"><i class="fa-solid fa-search text-warning"></i>&nbsp;Busqueda</h5>
                                        <form class="form-inline d-block justify-content-center">
                                            <div class="row justify-content-center flex-column flex-lg-row ">
                                                <div class="d-lg-flex justify-content-center">
                                                    <div class="col-lg-3 p-0 text-center">
                                                        <label class="" for="{{ listing_filter.form.amount.name }}">{{ listing_filter.form.amount.label }}</label> {{ listing_filter.form.amount }}
                                                    </div>
                                                    <div class="col-lg-2 col-4 col-5 m-auto p-0 text-center">
                                                        <label class="" for="{{ listing_filter.form.description.name }}">{{ listing_filter.form.description.label }}</label> {{ listing_filter.form.description }}
                                                    </div>
                                                    <div class="col-lg-2 col-4 col-md-12 m-auto  p-0 text-center">
                                                        <label class="" for="{{ listing_filter.form.money_type.name }}">{{ listing_filter.form.money_type.label }}</label> {{ listing_filter.form.money_type }}
                                                    </div>
                                                    <div class="col-lg-2 col-4 col-md-12 m-auto  p-0 text-center">
                                                        <label class="" for="{{ listing_filter.form.operation_mode.name }}">{{ listing_filter.form.operation_mode.label }}</label> {{ listing_filter.form.operation_mode }}
                                                    </div>
                                                    <div class="col-lg-3 p-0 text-center">
                                                        <label class="" for="{{ listing_filter.form.created_at.name }}">{{ listing_filter.form.created_at.label }}</label> {{ listing_filter.form.created_at }}
                                                    </div>
                                                </div>
                                                <div class="col-lg-2 text-center">
                                                    <button class="btn btn-warning text-white rounded mt-2" type="submit">Buscar</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% if movements %}
                            <div class="col-md-12 pt-3 cold-sm-12 col-lg-12">
                                <div class="card box-shadow">
                                    <div class="card-body table-responsive">
                                        <h5 class="card-title animate__fadeInDown" style="animation-duration: 0.5s !important;">
                                            <i class="fas fa-list-alt"></i>&nbsp;Movimientos
                                        </h5>
                                        <table class="table table-striped table-hover">
                                            <thead class="table-primary text-white">
                                                <tr>
                                                    <th scope="col">
                                                        <i class="fa fa-usd text-warning"></i> Monto
                                                    </th>
                                                    <th scope="col">
                                                        <i class="fa fa-exchange-alt text-warning"></i> Operacion
                                                    </th>
                                                    <th scope="col">
                                                        <i class="fa fa-file-alt  text-warning"></i> Descripcion
                                                    </th>
                                                    <th scope="col">
                                                        <i class="fa fa-money-bill-wave text-warning"></i> Divisa
                                                    </th>
                                                    <th scope="col">
                                                        <i class="fa fa-calendar text-warning"></i> Fecha
                                                    </th>
                                                    <th scope="col">
                                                        <i class="fa fa-id-card text-warning"></i> Por
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for movement in object_list %}
                                                <tr class="open-offcanvas" style="cursor: pointer;" data-info='{
                                                    "amount": "{{movement.amount}}", 
                                                    "description": "{{movement.description}}", 
                                                    "money_type": "{{movement.money_type}}", 
                                                    "created_at": "{{movement.created_at}}", 
                                                    "user": "{{movement.user}}", 
                                                    "userpk": "{{movement.user.pk}}", 
                                                    "operation_mode": "{{movement.get_operation_mode_display}}", 
                                                    "pk":"{{movement.pk}}"
                                                }'>
                                                    {% if movement.amount > 0 %}
                                                    <td class="text-success animate__fadeInDown" style="animation-duration: 0.5s !important;"><strong>+{{movement.amount}}</strong></td>
                                                    {% else %}
                                                    <td class="text-danger"><strong>{{movement.amount}}</strong></td>
                                                    {% endif %} {% if movement.get_operation_mode_display == "INGRESO" %}
                                                    <td>
                                                        <ion-icon name="trending-up-outline" class="text-success mr-2" style="font-size: 2rem;">
                                                            <svg viewBox="0 0 512 512">
                                                                  <path fill="none" stroke="currentColor" stroke-width="44" stroke-linecap="round" stroke-miterlimit="10" d="M416 128v192M288 256H96"></path>
                                                                </svg>
                                                        </ion-icon>
                                                    </td>
                                                    {% else %}
                                                    <td>
                                                        <ion-icon name="trending-down-outline" class="text-danger mr-2" style="font-size: 2rem;">
                                                            <svg viewBox="0 0 512 512">
                                                                  <path fill="none" stroke="currentColor" stroke-width="44" stroke-linecap="round" stroke-miterlimit="10" d="M416 128v192M288 256H96"></path>
                                                                </svg>
                                                        </ion-icon>
                                                    </td>
                                                    {% endif %}
                                                    <td>{{movement.description|truncatewords:2}}</td>
                                                    <td>{{movement.money_type|slice:":4"}}</td>
                                                    <td>{{movement.created_at|date|truncatewords:3}}</td>
                                                    <td>
                                                        {% if user.adviser.avatar %}
                                                        <img src="{{movement.user.avatar.url}}" width="36px" height="36px" class="  rounded-circle"> {% else %}
                                                        <img src="/media/{{MEDIA_URL}}avatares/default.png" width="36px" height="36px" alt="avatar" class="rounded-circle p-2  "> {% endif %}
                                                    </td>
                                                </tr>
                                                <!--Delete Modal-->
                                                <div class="modal fade" id="exampleModal{{movement.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{movement.pk}}" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content bg-primary text-white">
                                                            <form action="{% url 'cashregister:delete' movement.pk %}" method="POST">
                                                                {% csrf_token %}
                                                                <div class="modal-header bg-primary text-white">
                                                                    <h5 class="modal-title" id="exampleModalLabel">Eliminar Movimiento</h5>
                                                                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <span>Esta seguro que desea borrar </span>
                                                                    <strong>el movimiento, realizada el {{movement.created_at.date}} </strong>?
                                                                    <p>Tipo: <span class="strong">{{ movement.operation_mode }}</span></p>
                                                                    <p>Monto: <span class="strong">{{ movement.amount }}</span></p>
                                                                    <p>Realizada el <span class="strong">{{movement.created_at}}</span></p>
                                                                    <p>Por <strong class="text-warning">{{movement.user}}</strong></p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button class="btn btn-danger">Si, borrar</button>
                                                                    <button type="button" class="btn btn-secondary m-2 p-2" data-dismiss="modal">Cerrar</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--End Delete Modal-->
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination justify-content-center">
                                            {% if page_obj.has_previous %}
                                            <li class="page-item"><a class="page-link bg-primary text-white" href="?{{ listing_filter_params }}&page=1">&laquo;</a></li>
                                            <li class="page-item"><a class="page-link bg-primary text-white" href="?{{ listing_filter_params }}&page={{ page_obj.previous_page_number }}">anterior</a></li>
                                            {% endif %}

                                            <li class="page-item">
                                                <a class="page-link bg-primary text-white">
                                                    {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                                                </a> {% if page_obj.has_next %}
                                            </li>
                                            <li class="page-item"><a class="page-link bg-primary text-white" href="?{{ listing_filter_params }}&page={{ page_obj.next_page_number }}">siguiente</a></li>
                                            <li class="page-item"><a class="page-link bg-primary text-white" href="?{{ listing_filter_params }}&page={{ page_obj.paginator.num_pages }}"> &raquo;</a> {% endif %}</li>
                                        </ul>
                                    </nav>
                                    <div class="card-footer p-1 bg-primary rounded-bottom"></div>
                                </div>
                            </div>
                            {%else%}
                            <div class="col-md-12 pt-3 cold-sm-12 col-lg-12">
                                <div class="card box-shadow">
                                    <div class="card-body">
                                        <h4 class="card-title">No hay movimientos en caja</h4>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div id="offcanvas" class="card bg-primary text-white offcanvas">
                </div>
                <div id="overlay"></div>
            </div>
        </div>
    </section>
</main>
<script type="module">
    import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.esm.browser.min.js';
</script>
<script>
    const swiper = new Swiper('.swiper', {
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
        pagination: {
            el: ".swiper-pagination",
            dynamicBullets: true,
        },
    });
</script>
<script>
    const openButtons = document.querySelectorAll(".open-offcanvas");
    const offcanvas = document.getElementById("offcanvas");
    const overlay = document.getElementById("overlay");
    const offcanvasContent = offcanvas.querySelector(".offcanvas");

    openButtons.forEach(button => {
        button.addEventListener("click", function() {
            const info = JSON.parse(this.getAttribute("data-info"));
            offcanvas.innerHTML = `<div class="card-header">
                <h5 class="title py-3">Movimiento</h5>
            </div>
            <div class="card-body">
                <h4 class="m-0">Monto de la operacion</h4>
                <p class="m-0 font-weight-bold text-warning" style="font-size: 2rem">${info.amount}</p>
                <p class="m-0">Por asesor financiero</p>
                <p><a href="/asesors/${info.userpk}" class="text-warning"><strong>${info.user}</strong></a></p>
                <p class="m-0">Descripcion</p>
                <p><strong>${info.description}</strong></p>
                <h5 class="title pt-3">Acciones</h5>
                <a type="button" class="btn" data-toggle="modal" data-target="#exampleModal${info.pk}"><i class="fas fa-trash-alt text-danger"></i> &nbsp;</a>
                <a href="/cashregister/movements/update/${info.pk}" ><i class="fas fa-edit text-info"></i></a>
            </div>
            <div class="card-footer text-muted">
                <p class="m-0">Fecha y hora de realizacion</p>
                <p><strong>${info.created_at}</strong></p>
            </div>
            `
            offcanvas.classList.add("open");
            overlay.style.display = "block";

        });
    });

    overlay.addEventListener("click", function() {
        offcanvas.classList.remove("open");
        overlay.style.display = "none";
    });
</script>
<script>
    function modal_funtion(button, password, is_superuser) {

        let password_match = password;

        let description = document.getElementById("id_description_form");
        let amount = document.getElementById("id_amount_form");
        let money_type = document.getElementById("id_money_type_form");
        let modal_body = document.getElementById("modal-body_confirmation");

        let formattedAmount = Number(amount.value).toLocaleString('es-ES', {
            style: 'decimal',
            minimumFractionDigits: 2,
            maximumFractionDigits: 2,
            useGrouping: true,
        });

        let insert = `<p>Monto: <span class="text-warning font-weight-bold">${formattedAmount}</span></p>
        <p>Descripcion: <span class="text-warning font-weight-bold">${description.value}</span></p>
        <p>Divisa: <span class="text-warning font-weight-bold">${money_type.value}</span></p>`;
        modal_body.innerHTML = insert

        if (button === 'egreso') {
            let input = `<input required name="password_confirm" id="password_confirm" type="password" class="form-control" placeholder="Ingrese contraseña de confirmacion">`;
            insert = insert + '' + input;
            modal_body.innerHTML = insert;
        }

        const confirmButton = document.getElementById('confirm-button');

        confirmButton.addEventListener('click', (event) => {

            const passwordConfirmInput = document.getElementById('password_confirm');
            // Obtener la contraseña ingresada por el usuario
            const passwordConfirm = passwordConfirmInput.value;
            const previousErrorMessage = passwordConfirmInput.nextElementSibling;
            if (previousErrorMessage !== null && previousErrorMessage.classList.contains('error-message')) {
                previousErrorMessage.remove();
            }
            // Comparar las contraseñas
            if (passwordConfirm !== password) {

                // Mostrar un mensaje de error debajo del campo de contraseña
                const errorMessage = document.createElement('span');
                errorMessage.textContent = 'La contraseña ingresada no es correcta';
                errorMessage.classList.add('error-message');
                errorMessage.style.color = '#ff6961';
                passwordConfirmInput.insertAdjacentElement('afterend', errorMessage);

                // Evitar que se envíe el formulario
                event.preventDefault();
            }
        });
    }
</script>
<script>
    const egresoBtn = document.getElementById('egreso');
    const ingresoBtn = document.getElementById('ingreso');
    const operationModeField = document.getElementById('{{ form.operation_mode.id_for_label }}');

    egresoBtn.addEventListener('click', () => {
        operationModeField.value = 'EGRESO';
    });

    ingresoBtn.addEventListener('click', () => {
        operationModeField.value = 'INGRESO';
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const elements = document.querySelectorAll(".box-amount");
        elements.forEach((element) => {
            const finalValue = parseFloat(
                element.textContent.replace(/\./g, "").replace(",", ".")
            );
            let startValue = 0;
            let increment = 0;

            if (finalValue >= 0) {
                increment = Math.ceil(finalValue / 100);
                if (increment === 0) {
                    increment = 1;
                }
            } else {
                increment = Math.floor(finalValue / 100);
                if (increment === 0) {
                    increment = -1;
                }
            }

            const animateValue = () => {
                if (
                    (finalValue < 0 && startValue <= finalValue) ||
                    (finalValue >= 0 && startValue >= finalValue)
                ) {
                    startValue = finalValue;
                    element.textContent = startValue.toLocaleString("es-ES", {
                        minimumFractionDigits: 2,
                        useGrouping: true,
                        grouping: [3]
                    });
                } else {
                    startValue += increment;
                    element.textContent = startValue.toLocaleString("es-ES", {
                        minimumFractionDigits: 2,
                        useGrouping: true,
                        grouping: [3]
                    });
                    setTimeout(animateValue, 2);
                }
            };

            animateValue();
        });
    });
</script>
<script>
    const amounts = document.getElementsByClassName('balAmount');
    for (amount of amounts) {
        noformatamount = amount.innerHTML;
        separatesgnvalue = amount.innerHTML.toString();
        let sign = separatesgnvalue.substr(0, 1);
        let number = separatesgnvalue.substr(1);
        let numberformat = number.toLocaleString('es-ES', {
            style: 'decimal',
            minimumFractionDigits: 2
        });
        amount.innerHTML = sign + numberformat;

    }
</script>
<script>
    function showBalance(balance) {
        // Extraer el monto y la divisa utilizando una expresión regular
        var balanceParts = balance.match(/([0-9,.]+)\s*([^\s0-9]+)/);
        var amount = balanceParts[1];
        var currency = balanceParts[2];
        // Verificar si hay un signo "-" en el balance y agregarlo al final del monto si es necesario
        var negativeSign = balance.includes('-') ? '-' : '';

        // Formatear el monto y agregar la clase "box-amount"

        if (negativeSign == '-') {
            var amountHtml = '<span class="animate__fadeInDown box-amount text-danger font-weight-bold" style="font-size: 2rem; font-weight: 300;animation-duration: 1s !important;">' + negativeSign + amount + '</span>';
            var currencyHtml = '<span class="box-currency text-warning font-weight-bold">' + currency + '</span>';
        } else {
            var amountHtml = '<span class="animate__fadeInDown box-amount text-white font-weight-bold" style="font-size: 2rem; font-weight: 300;animation-duration: 1s !important;">' + negativeSign + amount + '</span>';
            var currencyHtml = '<span class="box-currency text-warning font-weight-bold">' + currency + '</span>';
        }


        // Mostrar el balance en el div con id "balance"
        var balanceHtml = amountHtml + ' ' + currencyHtml;
        document.getElementById('balance').innerHTML = balanceHtml;
    }
</script>
{% endblock content %}