{% extends "core/base.html" %} {% block content %} {% load static %}{% load crispy_forms_tags %}
<!--Main-->
<link href="{% static 'cashregister/css/cashregister.css' %}" rel="stylesheet">
<main class="container my-4">

    <h3 class="title font-weight-normal">Movimientos de Caja</h3>
    <!--Seccion 1-->
    <section id="minimal-statistics">
        <div class="row my-4">
            <div class="col-xl-3 col-sm-6 col-12 p-3">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body box-shadow">
                            <div class="media d-flex">
                                <div class="align-self-center">
                                    <i class="fa-solid fa-money-bill icon-lg text-warning"></i>
                                </div>
                                <div class="media-body text-right">
                                    <h5>{{cashregister.total_balanceARS}}</h5>
                                    <span>ARS</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer p-1 bg-secondary rounded-bottom"></div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 p-3">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body box-shadow">
                            <div class="media d-flex">
                                <div class="align-self-center">
                                    <i class="fa-solid fa-money-bill icon-lg text-warning"></i>
                                </div>
                                <div class="media-body text-right">
                                    <h5>{{cashregister.total_balanceUSD}}</h5>
                                    <span>USD</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer p-1 bg-secondary rounded-bottom"></div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 p-3">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body box-shadow">
                            <div class="media d-flex">
                                <div class="align-self-center">
                                    <i class="fa-solid fa-money-bill icon-lg text-warning"></i>
                                </div>
                                <div class="media-body text-right">
                                    <h5>{{cashregister.total_balanceEUR}}</h5>
                                    <span>EUR</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer p-1 bg-secondary rounded-bottom"></div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 p-3">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body box-shadow">
                            <div class="media d-flex">
                                <div class="align-self-center">
                                    <i class="fa-solid fa-money-bill-transfer icon-lg text-warning"></i>
                                </div>
                                <div class="media-body text-right">
                                    <h5>{{cashregister.total_balanceTRANSFER}}</h5>
                                    <span>TRANSFER</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer p-1 bg-secondary rounded-bottom"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-sm-6 col-12 p-3">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body box-shadow">
                            <div class="media d-flex">
                                <div class="align-self-center">
                                    <i class="fa-solid fa-credit-card icon-lg text-warning"></i>
                                </div>
                                <div class="media-body text-right">
                                    <h5>{{cashregister.total_balanceCREDITO}}</h5>
                                    <span>CREDITO</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer p-1 bg-secondary rounded-bottom"></div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 p-3">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body box-shadow">
                            <div class="media d-flex">
                                <div class="align-self-center">
                                    <i class="fa-solid fa-credit-card icon-lg text-warning"></i>
                                </div>
                                <div class="media-body text-right">
                                    <h5>{{cashregister.total_balanceDEBITO}}</h5>
                                    <span>DEBITO</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer p-1 bg-secondary rounded-bottom"></div>
                </div>
            </div>
    </section>
    <section class="row">
        <div class="col-12 col-lg-8 col-md-8">
            <!--Caja-->
            <article class="container p-0 my-4">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div class="card box-shadow">
                            <div class="card-body box-shadow border-bottom-0">
                                <h4 class="card-title">Caja</h4>
                                <p class="card-text font-weight-light">Balances en Caja</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item border-0"><i class="fa-solid fa-money-bill"></i> {{cashregister.total_balanceARS}} <strong>ARS</strong></li>
                                <li class="list-group-item border-0"><i class="fa-solid fa-money-bill"></i> {{cashregister.total_balanceUSD}} <strong>USD</strong></li>
                                <li class="list-group-item border-0"><i class="fa-solid fa-money-bill"></i> {{cashregister.total_balanceEUR}} <strong>EUR</strong></li>
                                <li class="list-group-item border-0"><i class="fa-solid fa-money-bill-transfer"></i> {{cashregister.total_balanceTRANSFER}} <strong>TRANSFER</strong></li>
                                <li class="list-group-item border-0"><i class="fa-solid fa-credit-card"></i>{{cashregister.total_balanceCREDITO}}<strong>CREDITO</strong></li>
                                <li class="list-group-item border-0"><i class="fa-solid fa-credit-card"></i>{{cashregister.total_balanceDEBITO}}<strong>DEBITO</strong></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <div class="alert alert-warning box-shadow" role="alert">
                            <h4 class="alert-heading"><i class="fa-solid fa-circle-info"></i> Operar</h4>
                            <p>Ingrese un monto, luego realice una descripcion del la operacion</p>
                            <p>Seleccione la divisa correspondiente</p>
                            <hr>
                            <p class="mb-0">Indique si quiere ingresar o retirar</p>
                        </div>
                        <div class="mb-3 row flex-column justify-content-lg-start">
                            <form method="post">{% csrf_token %} {{ form|crispy}}
                                <input class="btn btn-secondary m-2 rounded box-shadow p-2" type="submit" value="Realizar Operacion">
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <!--Lista de Notas-->
        <aside class="col-12 col-lg-4 col-md-4 my-4">
            <div class="d-flex m-auto flex-column align-items-stretch flex-shrink-0 bg-white box-shadow rounded border" style="width: 350px;">
                <a href="{% url 'cashregister:list' %}" class="d-flex align-items-center justify-content-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
                    <i class="fa-solid fa-down-left-and-up-right-to-center"></i> &nbsp;
                    <h4 class="fs-5 fw-semibold m-0 text-primary"> Ver Movimientos</h4>
                </a>
                <div class="list-group list-group-flush border-bottom scrollarea">
                    {% if movements %} {% for movement in movements %}
                    <a href="{% url 'cashregister:update' movement.pk %}" class="list-group-item list-group-item-action p-4 lh-tight" aria-current="true">
                        <div class="d-flex flex-column flex-sm-row w-100 align-items-center justify-content-between">
                            {% if movement.operation_mode == "INGRESO" %}
                            <strong class="mb-1 text-success"><i class="fa-solid fa-money-bill"></i> Monto: ${{movement.amount}}</strong> {% else %}
                            <strong class="mb-1 text-danger"><i class="fa-solid fa-money-bill"></i> Monto: ${{movement.amount}}</strong> {% endif %}
                            <small class="text-info"><i class="fa-solid fa-calendar"></i> {{movement.created_at}}</small>
                        </div>
                        <div class="col-10 mb-1 small">{{movement.description}}</div>
                        <div class="col-10 mb-1 small">
                            <small class="text-info">{{movement.user}}</small>
                        </div>
                    </a>
                    {% endfor %} {% else %}
                    <small class="text-info text-center">No hay movimientos registrados</small> {% endif %}
                </div>
                <div class="card-footer p-1 bg-secondary rounded-bottom"></div>
            </div>
        </aside>
    </section>
    <!--Seccion 2-->
</main>

{% endblock content %}

<section class="row mt-4">
    <!--Tabla de Clientes-->
    <div class="container">
        <table class="table table-striped table-hover">
            <thead class="table-light">
                <tr>
                    <th scope="col"><i class="fa-solid fa-down-left-and-up-right-to-center"></i> Movimientos</th>
                    <th scope="col"><i class="fa-solid fa-money-bill"></i> Monto</th>
                    <th scope="col"><i class="fa-solid fa-user-tie"></i> Por</th>
                    <th scope="col"><i class="fa-solid fa-quote-left"></i> Descripcion</th>
                    <th scope="col"><i class="fa-solid fa-calendar-days"></i> Fecha</th>
                    <!-- <th scope="col">Acciones</th> -->
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>$1500.67</td>
                    <td>Otto</td>
                    <td>Lorem Ipsum is simply...</td>
                    <td>12/03/2023</td>
                    <!-- <td>
                        <i class="fas fa-trash-alt"></i> &nbsp;
                        <i class="fas fa-edit"></i>
                    </td> -->
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>$1500.67</td>
                    <td>Thornton</td>
                    <td>Lorem Ipsum is simply...</td>
                    <td>12/03/2023</td>
                    <!-- <td>
                        <i class="fas fa-trash-alt"></i> &nbsp;
                        <i class="fas fa-edit"></i>
                    </td> -->
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>$1500.67</td>
                    <td>Norman Otto</td>
                    <td>Lorem Ipsum is simply...</td>
                    <td>12/03/2023</td>
                    <!-- <td>
                        <i class="fas fa-trash-alt"></i> &nbsp;
                        <i class="fas fa-edit"></i>
                    </td> -->
                </tr>
            </tbody>
        </table>
        <div class="card-footer p-1 bg-secondary rounded-bottom"></div>
    </div>
</section>