{% extends "core/base.html" %} {% block content %} {% load static %}{% load crispy_forms_tags %}
<!--Main-->
<link href="{% static 'cashregister/css/cashregister.css' %}" rel="stylesheet">
<main class="container my-4">
    <h3 class="title font-weight-normal">Movimientos de Caja</h3>
    <!--Seccion 1-->
    <section>
        <div class="row mt-4">
            <div class="col-xl-3 col-sm-6 col-12 p-3">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="align-self-center">
                                    <i class="fa-solid fa-down-left-and-up-right-to-center icon-lg text-warning"></i>
                                </div>
                                <div class="media-body text-right">
                                    <h5>{{count_movements}}</h5>
                                    <span>Total de Movimientos</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer p-1 bg-info rounded-bottom"></div>
                </div>
            </div>
            <div class="col-xl-6 col-sm-6 col-12 p-3">
                {% if messages %} {% for message in messages %}
                <div class="alert alert-{{message.extra_tags}} alert-dismissible" role="alert">
                    <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
                    <span class="font-weight-light">{{ message }}</span>
                </div>
                {% endfor %} {% endif %}
            </div>
        </div>
        <div class="row mt-4">
            <h5 class=" p-4 pt-2 m-0 title">Busqueda/s</h5>
            <div class="container p-0 mx-3 d-xl-flex bg-white border">
                <form class="form-inline">
                    <div class="form-group col-xl-12">
                        <span class="d-block px-2">Por {{ amount_filter.form.amount.label}}</span>
                        <span class="px-2">{{ amount_filter.form.amount}}</span>
                        <button class="d-block btn btn-info m-2" type="submit">Buscar</button>
                    </div>
                </form>
                <form class="form-inline">
                    <div class="form-group col-xl-12">
                        <span class="px-2 d-block">Por {{ money_filter.form.money_type.label}}</span>
                        <span class="px-2">{{ money_filter.form.money_type}}</span>
                        <button class="d-block btn btn-info m-2" type="submit">Buscar</button>
                    </div>
                </form>
            </div>
            <div class="card-footer p-0 mx-3 w-100 p-1 bg-info rounded-bottom"></div>
            <div class="container p-0 mx-3 d-xl-flex bg-white border mt-4">
                <form class="form-inline">
                    <div class="form-group col-xl-12">
                        <span class="d-block px-2">Por {{ description_filter.form.description.label}}</span>
                        <span class="px-2">{{ description_filter.form.description}}</span>
                        <button class="d-block btn btn-info m-2" type="submit">Buscar</button>
                    </div>
                </form>
            </div>
            <div class="card-footer p-0 mx-3 w-100 p-1 bg-info rounded-bottom"></div>
            <div class="container p-0 mx-3 d-xl-flex bg-white border mt-4">
                <form class="form-inline">
                    <div class="form-group col-xl-12">
                        <span class="p-2 d-block">{{ listing_filter.form.money_type.label}}</span>
                        <span class="p-2">{{ listing_filter.form.money_type}}</span>
                        <span class="p-2 d-block">{{ listing_filter.form.operation_mode.label}}</span>
                        <span class="p-2">{{ listing_filter.form.operation_mode}}</span>
                        <span class="p-2 d-block">{{ listing_filter.form.created_at.label}}</span>
                        <span class="p-2">{{ listing_filter.form.created_at}}</span>
                        <button class="d-block btn btn-info m-2" type="submit">Buscar</button>
                    </div>
                </form>
            </div>
            <div class="card-footer p-0 mx-3 w-100 p-1 bg-info rounded-bottom"></div>
        </div>
    </section>
    <section>
        {% if movements %}
        <table class="table table-striped table-hover">
            <h5 class=" p-4 pt-2 m-0 title">Cliente/s</h5>
            <thead class="table-light">
                <tr>
                    {% for name_prop in properties %}
                    <th scope="col">{{name_prop}}</th>
                    {% endfor %} {% if user.is_superuser %}
                    <th scope="col">Acciones</th>
                    {% endif %}

                </tr>
            </thead>
            <tbody>
                {% for movement in object_list %}
                <tr>
                    <td><a href="{% url 'cashregister:update' movement.pk %}">{{movement.amount}}</a></td>
                    <td>{{movement.get_operation_mode_display}}</td>
                    <td>{{movement.description}}</td>
                    <td>{{movement.money_type}}</td>
                    <td>{{movement.created_at}}</td>
                    <td>{{movement.user}}</td>
                    {% if user.is_superuser %}
                    <td>
                        <a type="button" class="btn" data-toggle="modal" data-target="#exampleModal{{movement.pk}}"><i class="fas fa-trash-alt text-danger"></i> &nbsp;</a>
                        <!--Modal-->
                        <div class="modal fade" id="exampleModal{{movement.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{movement.pk}}" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <form action="{% url 'cashregister:delete' movement.pk %}" method="POST">
                                        {% csrf_token %}
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="exampleModalLabel">Eliminar Movimiento</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <span>Esta seguro que desea borrar </span>
                                            <strong>{{ movement }}, realizada el {{movement.created_at.date}} </strong>?
                                            <p>Tipo: <span class="strong">{{ movement.operation_mode }}</span></p>
                                            <p>Monto: <span class="strong">{{ movement.amount }}</span></p>
                                            <p>Realizada el <span class="strong">{{movement.created_at}}</span></p>
                                            <p>Por {{movement.user}}</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-danger">Si, borrar</button>
                                            <button type="button" class="btn btn-info m-2 rounded p-2" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--End Modal-->
                        <a href="{% url 'cashregister:update' movement.pk  %}"><i class="fas fa-edit text-info"></i></a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo; primero</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">anterior</a></li> {% endif %}

                <li class="page-item">
                    <a class="page-link">
                        {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </a> {% if page_obj.has_next %}
                </li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">siguiente</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">ultimo &raquo;</a> {% endif %}</li>
            </ul>
        </div>
        {% else %}
        <h4 class="title font-weight-normal">No hay movimientos registrados</h4>
        {% endif %}
    </section>
    <!--Seccion 2-->
</main>

{% endblock content %}