<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <!-- Estilos -->
    <link href="{% static 'core/vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/main.css' %}" rel="stylesheet">

    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">


</head>

<body>

    <body>
        <!-- Navegación -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container p-0">
                <a class="navbar-brand" href="#"><img src="{% static 'core/img/isotipo.png' %}" width="200px" alt="logotipo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ned" aria-controls="ned" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="ned">
                    <ul class="navbar-nav">
                        {% if not request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Perfil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Salir</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
            <div class="container p-0 d-flex justify-content-end">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nep" aria-controls="nep" aria-expanded="false">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse" id="nep">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i>Inicio</i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i>Empleados</i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i>Movimientos de Caja</i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i>Clientes</i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i>Consultas</i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Contenido -->
        <main>
            <div class="container py-4">
                <div class="p-5 mb-4 bg-light rounded-3">
                    <div class="container-fluid py-5">
                        <h1 class="display-5 fw-bold">A Modo De Ejemplo</h1>
                        <p class="col-md-8 fs-4">Se esta usando esto a modo de ejemplo para empujar el footer y visualizarlo de una mejor manera </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla sodales gravida. Morbi elementum non odio quis efficitur. Curabitur eros justo, mollis et placerat ut, suscipit vitae dui. Vestibulum auctor volutpat est
                            ac aliquam. Proin eget enim faucibus, pretium nulla sit amet, posuere libero. Nulla in erat dui. Praesent hendrerit nunc sit amet tellus tempor, vel bibendum dolor pharetra.</p>
                        <button class="btn btn-primary btn-lg" type="button">Example button</button>
                    </div>
                </div>
            </div>
        </main>
        {% block content %}{% endblock %}

        <!-- Footer -->

        <footer class="d-flex flex-column justify-content-center align-items-center py-3 border-top bg-primary m-0">
            <div class="col-md-4 d-flex flex-column align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-decoration-none lh-1 text-light">
                    Logotipo-Desarrollador
                </a>
                <span class="mb-3 mb-md-0 text-light">© 2022 Company, Inc</span>
            </div>

            <ul class="nav col-md-4 justify-content-center align-items-center list-unstyled d-flex">
                <li class="m-2">
                    <a class="text-light" href="#"><i class="fa-brands fa-facebook"></i></a>
                </li>
                <li class="m-2">
                    <a class="text-light" href="#"><i class="fa-brands fa-twitter"></i></a>
                </li>
                <li class="m-2">
                    <a class="text-light" href="#"><i class="fa-brands fa-linkedin"></i></a>
                </li>
                <li class="m-2">
                    <a class="text-light" href="#"><i class="fa-brands fa-instagram"></i></a>
                </li>
            </ul>
        </footer>

        <!-- Javascript -->
        <script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'core/js/main.js' %}"></script>
    </body>

</html>