{% extends "core/base.html" %} {% block content %} {% load static %}
<!--Main-->
<main class="container my-4">

    <h3 class="title font-weight-normal">Inicio</h3>
    <!--Seccion 1-->
    <section class="row">
        <div class="col-12 col-lg-8 col-md-8">
            <!--Buscador de Clientes-->
            <article class="container p-0 my-4">
                {% include "cashregister/search.html" %}
            </article>
            <!--Botones de  Carga-->
            <article class="container p-0 my-4">
                <div class="btn-group d-flex flex-sm-row flex-column justify-content-center" role="group" aria-label="Basic example">
                    <a name="" id="" class="btn btn-secondary m-2 rounded box-shadow p-3" href="{% url 'credits:create_credit' %}" role="button">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        <span>Nuevo Credito</span>
                    </a>
                    <a name="" id="" class="btn btn-secondary m-2 box-shadow rounded p-3" href="{% url 'signup' %}" role="button">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                        <span>Nuevo Asesor</span>
                    </a>
                </div>
            </article>
            <!--Cards-->
            <article class="container p-0 my-4">
                <div class="card-group text-center">
                    <!--Movimientos de Caja-->
                    <div class="card box-shadow border rounded mx-2">
                        <div class="card-body">
                            <a href="{% url 'cashregister:list' %}">
                                <h5 class="card-title p-4">
                                    <i class="fa-solid fa-cash-register text-warning"></i> Tus Movimientos de Caja
                                </h5>
                            </a>
                            <p class="card-subtitle p-2">
                                <span class="font-weight-bold text-primary">{{cashregister.total_balanceARS}}</span>
                                <span class="text-warning"> | </span>
                                <span class="font-weight-bold text-primary">{{cashregister.total_balanceUSD}}</span>
                                <span class="text-warning"> | </span>
                                <span class="font-weight-bold text-primary">{{cashregister.total_balanceEUR}}</span>
                                <span class="text-warning"> | </span>
                                <span class="font-weight-bold text-primary">{{cashregister.total_balanceTRANSFER}}</span>
                                <span class="font-weight-bold text-primary"><small><strong>TRANSFER</strong></small></span>
                                <span class="text-warning"> | </span>
                                <span class="font-weight-bold text-primary">{{cashregister.total_balanceCREDITO}}</span>
                                <span class="font-weight-bold text-primary"><small><strong>CREDITO</strong></small></span>
                                <span class="text-warning"> | </span>
                                <span class="font-weight-bold text-primary">{{cashregister.total_balanceDEBITO}}</span>
                                <span class="font-weight-bold text-primary"><small><strong>DEBITO</strong></small></span>
                            </p>
                            {% for movement in movements %}
                            <a href="{% url 'cashregister:detail' movement.id %}" class="card-text d-block p-2">
                                {% if movement.operation_mode == 'EGRESO' %}
                                <small class="text-danger"><i class="fa-sharp fa-solid fa-money-bill-transfer"></i> ${{movement.amount}}</small> {% else %}
                                <small class="text-success"><i class="fa-sharp fa-solid fa-money-bill-transfer"></i> ${{movement.amount}}</small> {% endif %}
                                <small class="font-weight-light"> {{movement.description|truncatewords:2}} </small>
                                <span class="font-weight-bold">Por <span class="text-warning">{{movement.user}}</span></span>
                            </a> {% empty %}
                            <small class="font-weight-light">No hay movimientos registrados</small> {% endfor %}
                        </div>
                        <div class="card-footer p-1 bg-secondary rounded-bottom box-shadow"></div>
                    </div>
                    <!--Proximos Vencimientos-->
                    <div class="card box-shadow border rounded mx-2">
                        <div class="card-body">
                            <h5 class="card-title p-4"><i class="fa-solid fa-calendar text-warning"></i> Proximos Vencimientos</h5>
                            {% if next_maturities.count > 0 %} {% for next_maturitie in next_maturities %}
                            <div class="card-text p-2">
                                <small class="font-weight-bold text-primary"><i class="fa-solid fa-hourglass-end"></i> {{next_maturitie.end_date|date}} </small>
                                <small class="font-weight-normal"> Cuota {{next_maturitie.installment_num}}</small>
                                <small class="font-weight-bold">De <a href="{% url 'clients:detail' next_maturitie.credit.client.id %}" class="text-warning">{{next_maturitie.credit.client}}</a></small>
                                <small class="font-weight-bold">Por <a href="{% url 'advisers:detail' next_maturitie.credit.client.adviser.pk %}" class="text-warning">{{next_maturitie.credit.client.adviser}}</a></small>
                            </div>
                            {% endfor %} {% else %}
                            <strong class="font-weight-bold text-primary">Wow! Que insólito </strong> {% endif %}
                        </div>
                        <div class="card-footer p-1 bg-secondary rounded-bottom box-shadow"></div>
                    </div>
                </div>
            </article>
        </div>
        <!--Lista de Notas-->
        <aside class="col-12 col-lg-4 col-md-4 my-4">
            <div class="d-flex m-auto flex-column align-items-stretch flex-shrink-0 bg-white box-shadow rounded border" style="width: 350px;">
                <a href="{% url 'notes:list' %}" class="d-flex align-items-center justify-content-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
                    <i class="fa-solid fa-list-check text-warning"></i> &nbsp;
                    <h5 class="fs-5 fw-semibold m-0 text-primary"> Tus Notas Recordatorias</h5>
                </a>
                <div class="list-group list-group-flush border-bottom scrollarea">
                    {% for note in notes %}
                    <a href="{% url 'notes:update' note.pk %}" class="list-group-item list-group-item-action p-4 lh-tight" aria-current="true">
                        <div class="d-flex flex-column flex-sm-row w-100 align-items-center justify-content-between">
                            <strong class="mb-1 text-primary"> <i class="fa-solid fa-note-sticky"></i> {{note.title}}</strong>
                            <small class="text-info"><i class="fa-solid fa-calendar"></i> {{note.created_at}}</small>
                        </div>
                        <div class="col-10 mb-1 small">{{note.content}}</div>
                    </a>
                    {% empty %}
                    <small class="text-info text-center">No hay notas disponibles</small> {% endfor %}
                </div>
                <div class="card-footer p-1 bg-secondary rounded-bottom box-shadow"></div>
            </div>
        </aside>
    </section>
    <!--Seccion 2-->
    <section class="row mt-4">
        <!--Tabla de Clientes-->
        <div class="container">
            <table class="table table-striped m-0 box-shadow table-hover">
                <thead class="table-light">
                    <tr>
                        <th scope="col"><i class="fa-solid fa-user"></i> Cliente</th>
                        <th scope="col"><i class="fa-solid fa-signature"></i> Nombre</th>
                        <th scope="col"><i class="fa-solid fa-user-tie"></i> Por</th>
                        <th scope="col"><i class="fa-sharp fa-solid fa-circle-dollar-to-slot"></i> Cuota</th>
                        <th scope="col"><i class="fa-solid fa-money-check"></i> Estado</th>
                        <!-- <th scope="col">Acciones</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>1</td>
                        <td>
                            <div class="alert alert-warning m-0 p-1 text-center rounded-pill" role="alert">
                                <strong>● Refi</strong>
                            </div>
                        </td>
                        <!-- <td>
                            <i class="fas fa-trash-alt"></i> &nbsp;
                            <i class="fas fa-edit"></i>
                        </td> -->
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>1</td>
                        <td>
                            <div class="alert alert-success m-0 p-1 text-center rounded-pill" role="alert">
                                <strong>● Al dia</strong>
                            </div>
                        </td>
                        <!-- <td>
                            <i class="fas fa-trash-alt"></i> &nbsp;
                            <i class="fas fa-edit"></i>
                        </td> -->
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>1</td>
                        <td>
                            <div class="alert alert-danger m-0 p-1 text-center rounded-pill" role="alert">
                                <strong>● Vencida</strong>
                            </div>
                        </td>
                        <!-- <td>
                            <i class="fas fa-trash-alt"></i> &nbsp;
                            <i class="fas fa-edit"></i>
                        </td> -->
                    </tr>
                </tbody>
            </table>
            <div class="card-footer p-1 bg-secondary rounded-bottom box-shadow"></div>
        </div>
    </section>
    <!--Seccion 3-->
    <section class="row my-4">
        <div class="container">
            <div class="row justify-content-between">
                <!--Card Asesor 1-->
                <div class="col-md-4">
                    <div class="profile-card-4 text-center border rounded box-shadow my-4 bg-white">
                        <div class="profile-content">
                            <div class="profile-name py-4">
                                <p class="p-2 m-0"><i class="fas fa-user-circle text-warning"></i> Nombre Asesor</p>
                                <img src="{% static 'registration/img/no-avatar-A.png' %}" class="img-fluid rounded-circle shadow-4 py-2" style="width: 50px;" alt="avatar-profile">
                                <p><i class="fa-solid fa-envelope text-warning"></i> @correo-asesor</p>
                                <p><i class="fas fa-phone-alt text-warning"></i> +54-387-456678</p>
                            </div>
                            <div class="profile-description py-2"><i class="fas fa-calendar-day text-warning"></i> Registrado el: 23/03/2023</div>
                            <div class="row justify-content-center py-4">
                                <div class="col-xs-4">
                                    <div class="profile-overview m-2">
                                        <p><strong><i class="fas fa-users text-warning"></i> Clientes</strong></p>
                                        <h4>1300</h4>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="profile-overview m-2">
                                        <p><strong><i class="fas fa-money-check-alt text-warning"></i> Cobros</strong></p>
                                        <h4>250</h4>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="profile-overview m-2">
                                        <p><strong><i class="fas fa-dollar-sign text-warning"></i> Comisiones</strong></p>
                                        <h4>168</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer p-1 bg-secondary rounded-bottom box-shadow"></div>
                    </div>
                </div>
                <!--Card Asesor 2-->
                <div class="col-md-4">
                    <div class="profile-card-4 text-center border rounded box-shadow my-4 bg-white">
                        <div class="profile-content">
                            <div class="profile-name py-4">
                                <p class="p-2 m-0"><i class="fas fa-user-circle text-warning"></i> Nombre Asesor</p>
                                <img src="{% static 'registration/img/no-avatar-A.png' %}" class="img-fluid rounded-circle shadow-4 py-2" style="width: 50px;" alt="avatar-profile">
                                <p><i class="fa-solid fa-envelope text-warning"></i> @correo-asesor</p>
                                <p><i class="fas fa-phone-alt text-warning"></i> +54-387-456678</p>
                            </div>
                            <div class="profile-description py-2"><i class="fas fa-calendar-day text-warning"></i> Registrado el: 23/03/2023</div>
                            <div class="row justify-content-center py-4">
                                <div class="col-xs-4">
                                    <div class="profile-overview m-2">
                                        <p><strong><i class="fas fa-users text-warning"></i> Clientes</strong></p>
                                        <h4>1300</h4>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="profile-overview m-2">
                                        <p><strong><i class="fas fa-money-check-alt text-warning"></i> Cobros</strong></p>
                                        <h4>250</h4>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="profile-overview m-2">
                                        <p><strong><i class="fas fa-dollar-sign text-warning"></i> Comisiones</strong></p>
                                        <h4>168</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer p-1 bg-secondary rounded-bottom box-shadow"></div>
                    </div>
                </div>
                <!--Card Asesor 3-->
                <div class="col-md-4">
                    <div class="profile-card-4 text-center border rounded box-shadow my-4 bg-white">
                        <div class="profile-content">
                            <div class="profile-name py-4">
                                <p class="p-2 m-0"><i class="fas fa-user-circle text-warning"></i> Nombre Asesor</p>
                                <img src="{% static 'registration/img/no-avatar-A.png' %}" class="img-fluid rounded-circle shadow-4 py-2" style="width: 50px;" alt="avatar-profile">
                                <p><i class="fa-solid fa-envelope text-warning"></i> @correo-asesor</p>
                                <p><i class="fas fa-phone-alt text-warning"></i> +54-387-456678</p>
                            </div>
                            <div class="profile-description py-2"><i class="fas fa-calendar-day text-warning"></i> Registrado el: 23/03/2023</div>
                            <div class="row justify-content-center py-4">
                                <div class="col-xs-4">
                                    <div class="profile-overview m-2">
                                        <p><strong><i class="fas fa-users text-warning"></i> Clientes</strong></p>
                                        <h4>1300</h4>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="profile-overview m-2">
                                        <p><strong><i class="fas fa-money-check-alt text-warning"></i> Cobros</strong></p>
                                        <h4>250</h4>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="profile-overview m-2">
                                        <p><strong><i class="fas fa-dollar-sign text-warning"></i> Comisiones</strong></p>
                                        <h4>168</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer p-1 bg-secondary rounded-bottom box-shadow"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock content %}