{% extends "core/base.html" %} {% block content %} {% load static %}
<!--Main-->
<main class="container my-4">

    <div class="row justify-content-md-start justify-content-center">
        <div class="col-lg-4 col-12">
            <div class="row justify-content-center">
                <div class="col-md-5 col-12">
                    <div class="text-center">
                        <h4 class="title font-weight-normal animate__fadeInLeft" style="animation-duration: 0.5s !important;">
                            Panel de
                            <h4 class="font-weight-bold">{{request.user.first_name}}, {{request.user.last_name}}</h4>
                        </h4>
                        {% if request.user.adviser.avatar %}
                        <img src="{{request.user.adviser.avatar.url}}" alt="avatar" width="100px" height="100px" class="rounded-circle "> {% else %}
                        <img src="/media/{{MEDIA_URL}}avatares/default.png" alt="avatar" width="100px" height="100px" class="rounded-circle  "> {% endif %}
                    </div>
                </div>
                <div class="col-lg-7 col-12 text-center">
                    <p>Correo:<span class="font-weight-bold"> {{user.email}}</span></p>
                    <p>Nombre de usuario:<span class="font-weight-bold"> {{user.username}}</span></p>
                    <!--Botones de  Carga-->
                    <div class="mb-4" role="group" aria-label="Basic example">
                        <a class="btn btn-secondary rounded mb-2 p-3 box-shadow" href="{% url 'credits:create_credit' %}" role="button">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            <span>Nuevo Credito</span>
                        </a>
                        {% if request.user.is_superuser %}
                        <a class="btn btn-secondary rounded mb-2 p-3 box-shadow" href="{% url 'signup' %}" role="button">
                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                            <span>Nuevo Asesor</span>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-12">
            {% include 'core/message.html' %}
            <!--Buscador de Clientes-->
            {% include "clients/query/search.html" %}
        </div>
    </div>
    <!--Seccion 1-->
    <section class="mt-4">
        <div class="row justify-content-start">
            <!--Movimientos de Caja-->
            <div class="col-lg-4 my-2">
                <div class="card bg-primary text-white box-shadow">
                    <div class="card-body border-bottom-0">
                        <h5 class="card-title animate__fadeInDown" style="animation-duration: 0.5s !important;"><i class="fa-solid fa-cash-register text-warning"></i>&nbsp;Ultimos movimientos de caja</h5>
                        <!-- Slider main container -->
                        <div class="swiper mb-2 bg-primary">
                            <!-- Additional required wrapper -->
                            <ul class="swiper-wrapper p-0 list" style="cursor: pointer;">
                                {% for movement in movements %}
                                <li class="swiper-slide list-group-item bg-primary border-0" style="min-height: 150px;">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <div class="col-8">
                                            {% if movement.amount >= 0%}
                                            <span class="font-weight-bold" style="font-size: 2rem; color: #35f257;">+{{movement.amount}}</span> {% else %}
                                            <span class="font-weight-bold" style="font-size: 2rem; color: #f05540;">{{movement.amount}}</span> {% endif %}
                                            <span class="text-warning font-weight-bold">
                                                    {% if movement.money_type == "PESOS" %} ARS {% else %} {{movement.money_type}} {% endif %}
                                                </span>
                                        </div>
                                        <div class="col-4">
                                            <div class="col-4">
                                                <span>
                                                    {% if movement.user.avatar %}
                                                    <img src="{{movement.user.avatar.url}}" width="36px" height="36px" class="  rounded-circle"> {% else %}
                                                    <img src="/media/{{MEDIA_URL}}avatares/default.png" width="36px" height="36px" alt="avatar" class="rounded-circle p-2  "> {% endif %}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center p-2">
                                        <a class="text-white" href="{% url 'cashregister:home'  %}">{{movement.description}}</a>
                                    </div>
                                    <div class="text-center text-info"><small>{{movement.created_at}}</small></div>
                                </li>
                                {% empty %}
                                <p>No se registro ningun movimiento en caja</p>
                                {% endfor %}
                            </ul>
                            <div class="swiper-pagination"></div>
                            <!-- If we need scrollbar -->
                            <div class="d-none swiper-scrollbar"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-2">
                <!--Proximos Vencimientos-->
                <div class="card bg-primary text-white box-shadow">
                    <div class="card-body border-bottom-0">
                        <h5 class="card-title animate__fadeInDown" style="animation-duration: 0.5s !important;"><i class="fa-solid fa-cash-register text-warning"></i>&nbsp;Proximos vencimientos</h5>
                        <!-- Slider main container -->
                        <div class="swiper mb-2 bg-primary">
                            <!-- Additional required wrapper -->
                            <ul class="swiper-wrapper p-0 list" style="cursor: pointer;">
                                {% for installment in next_expirations %}
                                <li class="swiper-slide list-group-item bg-primary border-0" style="min-height: 150px;">
                                    <div class="row">
                                        <div class="col-8">
                                            <span class="font-weight-bold text-warning">Monto: &nbsp;</span><span class="font-weight-bold" style="font-size: 2rem; color: #35f257;">+{{installment.amount}}</span>
                                        </div>
                                        <div class="col-4">
                                            <span>
                                                {% if installment.credit.client.adviser.avatar %}
                                                <img src="{{installment.credit.client.adviser.avatar.url}}" width="36px" height="36px" class="  rounded-circle"> {% else %}
                                                <img src="/media/{{MEDIA_URL}}avatares/default.png" width="36px" height="36px" alt="avatar" class="rounded-circle p-2  "> {% endif %}</span>
                                        </div>
                                    </div>
                                    <div class="text-center p-2">
                                        <a class="text-white" href="{% url 'clients:detail' installment.credit.client.pk %}"><span>{{installment}}</span></a>
                                        <span class="font-weight-bold text-warning">Vence el {{installment.created_at|date}}</span>
                                    </div>
                                </li>
                                {% empty %}
                                <p>No hay vencimientos</p>
                                {% endfor %}
                            </ul>
                            <div class="swiper-pagination"></div>
                            <!-- If we need scrollbar -->
                            <div class="d-none swiper-scrollbar"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-2">
                <!--Notas-->
                <!-- Slider main container -->
                <a href="{% url 'notes:list' %}">
                    <div class="swiper mb-2">
                        <!-- Additional required wrapper -->
                        <ul class="swiper-wrapper p-0 list" style="cursor: pointer;">
                            {% for note in notes %}
                            <li class="swiper-slide list-group-item border-0 m-0 p-0" style="background-color: #F5F7FA;">
                                <link href="{% static 'note/css/note.css' %}" rel="stylesheet"> {% include "note/includes/note_card.html" %}
                            </li>
                            {% empty %}
                            <li class="swiper-slide list-group-item border-0" style="min-height: 150px;">
                                <p>No hay notas</p>
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="swiper-pagination"></div>
                        <!-- If we need scrollbar -->
                        <div class="d-none swiper-scrollbar"></div>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <section class="mt-4">
        <h5 class="card-title animate__fadeInDown" style="animation-duration: 0.5s !important;"><i class="fa-solid fa-hand-holding-dollar text-warning "></i>&nbsp; Ultimos Creditos</h5>
        <div class="row justify-content-center">
            <!--Tabla de Clientes del usuario-->
            {% include "credit/includes/credit_table.html" with show_link=True %}
        </div>
    </section>
    <section class="mt-4">
        <h5 class="card-title animate__fadeInDown" style="animation-duration: 0.5s !important;"><i class="fa-solid fa-users text-warning "></i>&nbsp; Ultimos Clientes</h5>
        <div class="row justify-content-center">
            <!--Tabla de Clientes del usuario-->
            {% include "clients/includes/client_table.html" with show_link=True %}
        </div>
    </section>
</main>
<script type="module">
    import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.esm.browser.min.js';
</script>
<script>
    const swiper = new Swiper('.swiper', {
        autoplay: {
            delay: 7000,
            disableOnInteraction: false,
        },
        pagination: {
            el: ".swiper-pagination",
            dynamicBullets: true,
        },
    });
</script>
{% endblock content %}