<div class="row align-items-center justify-content-center justify-content-lg-end">
    <form class="form" method="get" action="{% url 'clients:query' %}">
        <p class="d-inline-block mb-0">
            <input type="number" class="form-control rounded p-3 box-shadow d-inline-block" name="search" aria-describedby="helpId" placeholder="Ingresar DNI" value="">
        </p>
        <button type="submit" class="btn btn-secondary rounded mb-2 mt-1 p-3 box-shadow d-inline-block border-left-0">
                <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </form>
</div>