{% extends 'core/base.html' %} {% load static %} {% block title %}Restablecer contraseña{% endblock %} {% block content %}
<style>
    .errorlist {
        color: red;
    }
</style>
<main role="main">
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-9 mx-auto mb-5">
                <form action="" method="post">
                    {% csrf_token %}
                    <h3 class="mb-4 text-center">Restablecer contraseña</h3>
                    <div class="alert alert-info alert-dismissible" role="alert">
                        <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
                        <strong>¿Ha olvidado su clave? </strong>Introduzca su dirección de correo a continuación y le enviaremos por correo electrónico las instrucciones para establecer una nueva.
                    </div>
                    {{ form.email.errors }}
                    <p><input type="email" name="email" maxlength="254" required="" id="id_email" class="form-control" placeholder="Introduce tu email" /></p>
                    <p><input type="submit" class="btn btn-success btn-block" value="Confirmar"></p>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}