.body-loading {
    width: 100%;
    height: 100vh;
    position: absolute;
    padding: 100px;
    display: flex;
    justify-content: center;
    background-color: #F5F7FA;
}

.no-display {
    display: none;
}

.box-shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.waviy {
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
}

.waviy span {
    position: relative;
    display: inline-block;
    font-size: 60px;
    color: black;
    animation: flip 2s infinite;
    animation-delay: calc(.1s * var(--i))
}

@keyframes flip {
    0%,
    20% {
        transform: rotateY(360deg)
    }
}

.nav-link {
    position: relative;
    box-shadow: none !important;
}

.nav-link:hover {
    color: #ffffff;
    text-shadow: -1px 0px 10px rgba(255, 255, 255, 0.7), 1px 0px 10px rgba(255, 255, 255, 0.7);
    animation: bounceA 0.5s ease-in-out;
}

.nav-link:active {
    box-shadow: 0 0 5px #000000;
}

@keyframes bounceA {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

ion-icon {
    animation: draw 2s ease forwards;
}

ion-icon:hover {
    animation: draw-hover 1s ease forwards;
}

@keyframes draw {
    0% {
        stroke-dasharray: 0 1000;
    }
    100% {
        stroke-dasharray: 1000 0;
    }
}

@keyframes draw-hover {
    0% {
        stroke-dasharray: 0 1000;
    }
    100% {
        stroke-dasharray: 1000 0;
    }
}

.fa-solid {
    position: relative;
    transition: all 0.2s ease-in-out;
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2));
}

.fa-solid:before {
    text-shadow: none;
}

.fa-solid path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 2s ease-in-out forwards;
}

.fa-solid:hover {
    transform: translateY(-2px);
}

.fa-solid:active {
    transform: translateY(0px);
    transition: all 0.1s ease-in-out;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}