{% if credits %}
<table class="table table-responsive-lg table-striped table-hover ">
    <thead class="table-primary text-white">
        <tr>
            <th scope="col"><i class="fas fa-hand-holding-usd text-warning"></i> Solicito</th>
            <th scope="col"><i class="fas fa-money-check-alt text-warning"></i> Devolvio</th>
            <th scope="col"><i class="fas fa-list-ol text-warning"></i> Cuotas</th>
            <th scope="col"><i class="fas fa-dollar-sign text-warning"></i> Monto</th>
            <th scope="col"><i class="fas fa-tasks text-warning"></i> Estado</th>
            <th class="th-client" scope="col"><i class="fas fa-user text-warning"></i> Cliente</th>
            <th scope="col"><i class="fas fa-user-tie text-warning"></i> Asesor</th>
            <th scope="col"><i class="fas fa-calendar-plus text-warning"></i> Ingreso</th>
            <th scope="col"><i class="fas fa-calendar-check text-warning"></i> Vencimiento</th>
            {% if user.is_superuser %}
            <th scope="col"><i class="fas fa-cogs text-warning"></i> Acciones</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for credit in credits %}
        <tr style="cursor: pointer;">
            <td class="amount"><a href="{% url 'credits:detail' credit.pk %}">{{credit.amount}}</a></td>
            <td class="repayment_amount">{{credit.credit_repayment_amount}}</td>
            <td class="installment_num">{{credit.installment_num}}</td>
            <td class="installments_amount">{{credit.installments.last.amount}}</td>
            <td class="condition">
                {% if credit.condition == "A Tiempo" %}
                <i class="fas fa-play-circle text-info"></i> {% elif credit.condition == "Pagado" %}
                <i class="fas fa-check-circle text-success"></i> {% endif %}
            </td>
            <td class="client"><a href="{% url 'clients:detail' credit.client.pk %}">{{credit.client}}</a></td>
            <td class="adviser"><a href="{% url 'advisers:detail' credit.client.adviser.pk %}">
                {% if credit.client.adviser.avatar %}
                <img src="{{credit.client.adviser.avatar.url}}" width="36px" height="36px" class="  rounded-circle"> {% else %}
                <img src="/media/{{MEDIA_URL}}avatares/default.png" width="36px" height="36px" alt="avatar" class="rounded-circle p-2  "> {% endif %}
            </a></td>
            <td class="start_date">{{credit.start_date|date}}</td>
            <td class="end_date">{{credit.end_date|date}}</td>
            {% if user.is_superuser %}
            <td>
                <a type="button " class="btn" data-toggle="modal" data-target="#exampleModal{{credit.instance.pk}} "><i class="fas fa-trash-alt text-danger "></i> &nbsp;</a>
                <!--Modal-->
                <div class="modal fade " id="exampleModal{{credit.instance.pk}} " tabindex="-1 " role="dialog " aria-labelledby="exampleModalLabel{{credit.instance.pk}} " aria-hidden="true">
                    <div class="modal-dialog " role="document ">
                        <div class="modal-content bg-primary text-white">
                            <div class="modal-header ">
                                <h5 class="modal-title " id="exampleModalLabel ">Eliminar credito</h5>
                            </div>
                            <form action="{% url 'credits:delete' credit.pk %} " method="POST ">
                                {% csrf_token %}
                                <div class="modal-body ">
                                    <span>Esta seguro que desea borrar al credito de </span>
                                    <strong>{{ client }} </strong>?
                                </div>
                                <div class="modal-footer ">
                                    <button class="btn btn-danger ">Si, borrar</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--End Modal-->
                <a href="{% url 'credits:edit_credit' credit.pk %} "><i class="fas fa-edit text-info "></i></a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if not show_link %} {% with request.GET.urlencode as query_params %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if credits.has_previous %}
        <li class="page-item"><a class="page-link bg-primary text-white" href="?{{ query_params }}&page=1">&laquo;</a></li>
        <li class="page-item"><a class="page-link bg-primary text-white" href="?{{ query_params }}&page={{ credits.previous_page_number }}">anterior</a></li>
        {% endif %}

        <li class="page-item">
            <a class="page-link bg-primary text-white">
                {{ credits.number }} de {{ credits.paginator.num_pages }}
            </a>
        </li>

        {% if credits.has_next %}
        <li class="page-item"><a class="page-link bg-primary text-white" href="?{{ query_params }}&page={{ credits.next_page_number }}">siguiente</a></li>
        <li class="page-item"><a class="page-link bg-primary text-white" href="?{{ query_params }}&page={{ credits.paginator.num_pages }}"> &raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% endwith %} {% endif %} {% else %}
<p>No hay creditos registrados</p>
{% endif %}