{% extends "core/base.html" %} {% block content %} {% load static %}
<!--Main-->
<link href="{% static 'cashregister/css/cashregister.css' %}" rel="stylesheet">
<main class="container my-4">
    <h4 class="title font-weight-normal animate__fadeInLeft" style="animation-duration: 0.5s !important;">Garantes</h4>
    <!--Seccion 1-->
    {% include 'core/message.html' %}
    <section>
        <div class="row mt-4 align-items-start">
            <div class="col-xl-3 col-sm-3 col-lg-3">
                <div class="d-flex m-auto flex-column align-items-stretch flex-shrink-0 bg-primary text-white box-shadow card">
                    <div class="card-body pb-0" id="movements-carousel">
                        <h5 class="text-title animate__fadeInDown" style="animation-duration: 0.5s !important;"><i class="fa-solid fa-down-left-and-up-right-to-center text-warning"></i> &nbsp;Cantidad de Garantes</h5>
                        <!-- Slider main container -->
                        <div class="swiper bg-primary">
                            <!-- Additional required wrapper -->
                            <ul class="swiper-wrapper p-0 list" style="cursor: pointer;">
                                <!-- ... contenido del list-group ... -->
                                {% for count in count_guarantors_dict %}
                                <li class="swiper-slide list-group-item bg-primary border-0">
                                    <div class="text-warning font-weight-bold">{{ count.label }}</div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        {% if count.value >= 0 %}
                                        <ion-icon name="trending-up-outline" class="text-success mr-2" style="font-size: 2rem;">
                                            <svg viewBox="0 0 512 512">
                                <path fill="none" stroke="currentColor" stroke-width="44" stroke-linecap="round" stroke-miterlimit="10" d="M416 128v192M288 256H96"></path></svg>
                                        </ion-icon>
                                        {% else %}
                                        <ion-icon name="trending-down-outline" class="text-danger mr-2" style="font-size: 2rem;">
                                            <svg viewBox="0 0 512 512">
                                <path fill="none" stroke="currentColor" stroke-width="44" stroke-linecap="round" stroke-miterlimit="10" d="M416 128v192M288 256H96"></path></svg>
                                        </ion-icon>
                                        {% endif %} {% if count.value >= 0 %}
                                        <span class="text-white" style="font-size: 2rem;">+{{ count.value}}</span> {% else %}
                                        <span class="text-white" style="font-size: 2rem;">{{ count.value }}</span> {% endif %}
                                    </div>

                                </li>
                                {% endfor %}
                            </ul>
                            <div class="swiper-pagination"></div>
                            <!-- If we need scrollbar -->
                            <div class="d-none swiper-scrollbar"></div>
                        </div>
                    </div>
                </div>
                <div class="my-2 bg-primary border-0 text-white box-shadow card">
                    <a name="" id="" class="btn btn-secondary rounded p-3" href="{% url 'guarantors:create' %}" role="button">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        <span>Cargar Nuevo Garante</span>
                    </a>
                </div>
            </div>
            <div class="col-xl-6 col-sm-6 col-lg-6">
                <div class="card bg-primary text-white mb-2">
                    <div class="card-body">
                        <h5 class="card-title animate__fadeInDown" style="animation-duration: 0.5s !important;"><i class="fa-solid fa-cash-register text-warning"></i>&nbsp;Busquedas</h5>
                        <form class="form row">
                            <div class="form-group col-12 col-md-3">
                                {{ listing_filter.form.dni }}
                            </div>
                            <div class="form-group col-12 col-md-4">
                                {{ listing_filter.form.first_name_or_last_name }}
                            </div>
                            <div class="form-group col-12 col-md-4">
                                {{ listing_filter.form.client }}
                            </div>
                            <div class="form-group col-12 col-md-2 text-center">
                                <button class="btn btn-warning text-white box-shadow rounded ml-2" type="submit">Buscar</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card box-shadow">
                    <div class="card-body">
                        <h5 class="text-title animate__fadeInDown" style="animation-duration: 0.5s !important;"><i class="fa-solid fa-users"></i> &nbsp;Garantes</h5>
                        {% if guarantors %}
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead class="table-primary text-white">
                                    <tr>
                                        <th scope="col">
                                            <i class="fa fa-user text-warning"></i> Nombre
                                        </th>
                                        <th scope="col">
                                            <i class="fa fa-id-card text-warning"></i> DNI
                                        </th>
                                        <th scope="col">
                                            <i class="fa fa-users text-warning"></i> Credito asociado
                                        </th>
                                        <th scope="col">
                                            <i class="fa fa-calendar text-warning"></i> Fecha
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for guarantor in guarantors %}
                                    <tr class="open-offcanvas" onclick="showOffcanvas(`{{guarantor.id}}`)">    
                                        <div id="offcanvas{{guarantor.id}}" class="card bg-primary text-white offcanvas">
                                            <div class="card-body">
                                                <a href="{% url 'guarantors:detail' guarantor.pk %}"><p class="m-0 text-white text-link" style="font-size: 2rem;text-decoration:none!important;">{{guarantor.first_name}} {{guarantor.last_name}}</p></a>
                                                <h5 class="m-0">Contacto</h5>
                                                <ul class="list p-0">
                                                    {% if guarantor.phonenumberguarantor_set.all %}
                                                        {% for phone_number in guarantor.phonenumberguarantor_set.all %}
                                                            <a class="pr-2 font-weight-bold text-warning" href="tel:{{phone_number}}">
                                                                {{phone_number}}
                                                            </a>
                                                        {% endfor %}
                                                    {% else %}
                                                        <div class="pr-2 font-weight-bold text-warning">No hay registros o caducaron</div>
                                                    {% endif %}
                                                </ul>
                                                <p class="m-0">Numero de dni: </p>
                                                <span><a class="text-warning"><strong>{{guarantor.dni}}</strong></a></span>
                                                <p class="m-0">Profesion: </p>
                                                <span>
                                                    <a class="text-warning">
                                                        <strong>
                                                            {% if guarantor.profession %}
                                                                {{guarantor.profession}}
                                                            {% else %}
                                                                No registrado
                                                            {% endif %}
                                                        </strong>
                                                    </a>
                                                </span>
                                                <p class="m-0">Domicilio: </p>
                                                <span>
                                                    <a class="text-warning">
                                                        <strong>
                                                            {% if guarantor.address %}
                                                                {{guarantor.address}}
                                                            {% else %}
                                                                No registrado
                                                            {% endif %}
                                                        </strong>
                                                    </a>
                                                </span>
                                                <p class="m-0">Domicilio laboral: </p>
                                                <span>
                                                    <a class="text-warning">
                                                        <strong>
                                                            {% if guarantor.job_address %}
                                                                {{guarantor.job_address}}
                                                            {% else %}
                                                                No registrado
                                                            {% endif %}
                                                        </strong>
                                                    </a>
                                                </span>
                                                <p class="m-0">Estado civil: </p>
                                                <span><a class="text-warning"><strong>{{guarantor.civil_status}}</strong></a></span>
                                                <p class="m-0">Credito asociado: </p>
                                                <span>
                                                    <strong>
                                                    {% if guarantor.credits_g.all %}
                                                        {% for credit in guarantor.credits_g.all %}    
                                                        <a href="{% url 'clients:detail' credit.client.pk %}" class="text-warning">
                                                            {{credit}}
                                                        </a>
                                                        {% endfor %}
                                                    {% else %}
                                                        <span>No hay registros o caducaron</span> 
                                                    {% endif %}
                                                    </strong>
                                                </span>                                              
                                                <h5 class="title pt-3">Acciones</h5>
                                                <a type="button" class="btn" data-toggle="modal" data-target="#GuarantorDelete{{guarantor.id}}"><i class="fas fa-trash-alt text-danger"></i> &nbsp;</a>
                                                <a href="/guarantors/update/{{guarantor.id}}" ><i class="fas fa-edit text-info"></i></a>
                                            </div>
                                            <div class="card-footer text-muted">
                                                <p class="m-0">Fecha y hora de realizacion</p>
                                                <p><strong>{{guarantor.created_at}}</strong></p>
                                            </div>
                                        </div>
                                    
                                        <td>{{guarantor.first_name}} {{guarantor.last_name}}</td>
                                        <td>{{guarantor.dni}}</td>

                                        {% if guarantor.credits_g.all %}
                                            {% if guarantor.credits_g.count > 1 %}    
                                                <td>{{guarantor.credits_g.first}}&nbsp; +{{guarantor.credits_g.count|add:-1}}</td>
                                            {% else %}
                                                <td>{{guarantor.credits_g.first}}</td>
                                            {% endif %}
                                        {% else %}
                                            <td>No hay registros o caducaron</td>
                                        {% endif %}

                                        <td>{{guarantor.created_at|date}}</td>
                                    </tr>
                                    <!-- Agregar el modal -->
                                    <div class="modal fade" id="GuarantorDelete{{guarantor.id}}" tabindex="-1" role="dialog" aria-labelledby="GuarantorDelete{{guarantor.id}}" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content bg-primary text-white">
                                                <form action="{% url 'guarantors:delete' guarantor.pk %}">
                                                    <div class="modal-header bg-primary text-white">
                                                        <h5 class="modal-title" id="GuarantorDelete{{guarantor.id}}">Eliminacion de Garante</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        ¿Está seguro de eliminar el garante?
                                                        <p>
                                                            Garante: <span class="text-warning font-weight-bold">{{guarantor.first_name}} {{guarantor.last_name}}</span>
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                        <button type="submit" class="btn btn-danger" id="enviarFormulario">Eliminar</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div class="">
                            <ul class="pagination justify-content-center">
                                {% if page_obj.has_previous %}
                                <li class="page-item"><a class="page-link bg-primary text-white" href="?page=1">&laquo; primero</a></li>
                                <li class="page-item"><a class="page-link bg-primary text-white" href="?page={{ page_obj.previous_page_number }}">anterior</a></li> {% endif %}

                                <li class="page-item">
                                    <a class="page-link bg-primary text-white">
                                {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </a> {% if page_obj.has_next %}
                                </li>
                                <li class="page-item"><a class="page-link bg-primary text-white" href="?page={{ page_obj.next_page_number }}">siguiente</a></li>
                                <li class="page-item"><a class="page-link bg-primary text-white" href="?page={{ page_obj.paginator.num_pages }}">ultimo &raquo;</a> {% endif %}</li>
                            </ul>
                        </div>
                        {% else %}
                        <h5 class="title font-weight-normal">No hay Garantes Registrados</h5>
                        {% endif %}
                    </div>
                    <div class="card-footer p-1 bg-primary rounded-bottom"></div>
                </div>
            </div>
        </div>

    </section>
    <section>
<div id="overlay"></div>
    </section>

</main>
<script type="module">
    import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.esm.browser.min.js';
</script>
<script>
    const swiper = new Swiper('.swiper', {
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
        pagination: {
            el: ".swiper-pagination",
            dynamicBullets: true,
        },
    });
</script>
<script>
    const overlay = document.getElementById("overlay");
    function showOffcanvas(id){
        const offcanvas = document.getElementById(`offcanvas${id}`);

        function shownow() {
            console.log('entre');
            offcanvas.classList.add("open");
            overlay.style.display = "block";
        };
        
        shownow();

        overlay.addEventListener("click", function() {
            offcanvas.classList.remove("open");
            overlay.style.display = "none";
        });
    };

</script>
{% endblock content %}