{% extends "core/base.html" %} {% block content %} {% load static %}
<!--Main-->
<link href="{% static 'note/css/note.css' %}" rel="stylesheet">
<main class="container my-4">
    <h3 class="title font-weight-normal">Garantes</h3>
    <!--Seccion 1-->
    {% if messages %} {% for message in messages %}
    <div class="alert alert-{{message.extra_tags}} alert-dismissible" role="alert">
        <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
        <span class="font-weight-light">{{ message }}</span>
    </div>
    {% endfor %} {% endif %}
    <section>
        <div class="row mt-4">
            <div class="col-xl-3 col-sm-6 col-12 p-3">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="align-self-center">
                                    <i class="fa-solid fa-note-sticky text-warning icon-lg"></i>
                                </div>
                                <div class="media-body text-right">
                                    <h5>{{count_guarantors}}</h5>
                                    <span>Total de Garantes</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer p-1 bg-info rounded-bottom"></div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-xl-3 col-sm-6 col-12 p-3">
                <a name="" id="" class="btn btn-info rounded p-3" href="{% url 'guarantors:create' %}" role="button">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    <span>Crear Nueva Garante</span>
                </a>
            </div>
        </div>
        <div class="row mt-4">
            <h5 class=" p-4 pt-2 m-0 title">Busqueda/s</h5>
            <div class="container p-0 mx-3 d-xl-flex bg-white border mt-4">
                <form class="form-inline">
                    <div class="form-group col-xl-12">
                        <span class="p-2 d-block">{{ listing_filter.form.dni.label}}</span>
                        <span class="p-2">{{ listing_filter.form.dni}}</span>
                        <span class="p-2 d-block">{{ listing_filter.form.client.label}}</span>
                        <span class="p-2">{{ listing_filter.form.client}}</span>
                        <span class="p-2 d-block">{{ listing_filter.form.created_at.label}}</span>
                        <span class="p-2">{{ listing_filter.form.created_at}}</span>
                        <button class="d-block btn btn-info m-2" type="submit">Buscar</button>
                    </div>
                </form>
            </div>
            <div class="card-footer p-0 mx-3 w-100 p-1 bg-info rounded-bottom"></div>
        </div>

    </section>
    <section>
        {% if guarantors %}
        <h4>Garantes Generales</h4>
        <table class="table table-striped table-hover">
            <thead class="table-light">
                <tr>
                    {% for name_prop in properties %}
                    <th scope="col">{{name_prop}}</th>
                    {% endfor %} {% if user.is_superuser %}
                    <th scope="col">Acciones</th>
                    {% endif %}

                </tr>
            </thead>
            <tbody>
                {% for guarantor in guarantors %}
                <tr>
                    <td><a href="{% url 'guarantors:detail' guarantor.pk %}">{{guarantor.first_name}} {{guarantor.last_name}}</a></td>
                    <td>{{guarantor.email}}</td>
                    <td>{{guarantor.get_civil_status_display}}</td>
                    <td>{{guarantor.dni}}</td>
                    <td><a href="{% url 'clients:detail' guarantor.credit.client.pk %}">{{guarantor.credit}}</a></td>
                    <td>
                        {% if not guarantor.phonenumber_set.all %}
                        <p> - </p>
                        {% endif %} {% for phone_number in guarantor.phonenumber_set.all %}
                        <P>{{phone_number}}</P>
                        {% endfor %}
                    </td>
                    <td>{{guarantor.profession}}</td>
                    <td>{{guarantor.address}}</td>
                    <td>{{guarantor.created_at}}</td>
                    {% if user.is_superuser %}
                    <td>
                        <a type="button" class="btn" data-toggle="modal" data-target="#exampleModal{{guarantor.pk}}"><i class="fas fa-trash-alt text-danger"></i> &nbsp;</a>
                        <!--Modal-->
                        <div class="modal fade" id="exampleModal{{guarantor.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{guarantor.pk}}" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <form action="{% url 'guarantors:delete' guarantor.pk %}" method="POST">
                                        {% csrf_token %}
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="exampleModalLabel">Eliminar Cliente</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <span>Esta seguro que desea borrar </span>
                                            <strong>{{ guarantor }} </strong>?
                                            <p>creada el {{guarantor.created_at}}</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-danger">Si, borrar</button>
                                            <button type="button" class="btn btn-info m-2 rounded p-2" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--End Modal-->
                        <a href="{% url 'guarantors:update' guarantor.pk  %}"><i class="fas fa-edit text-info"></i></a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo; primero</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">anterior</a></li> {% endif %}

                <li class="page-item">
                    <a class="page-link">
                        {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </a> {% if page_obj.has_next %}
                </li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">siguiente</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">ultimo &raquo;</a> {% endif %}</li>
            </ul>
        </div>
        {% else %}
        <h5 class="title font-weight-normal">No hay Garantes Registradas</h5>
        {% endif %}
    </section>
    <!--Seccion 2-->
</main>

{% endblock content %}