.errorlist {
    color: red;
}

::placeholder {
    opacity: 0 !important;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    opacity: 0 !important;
}

.form-text {
    display: none !important;
}

.form-check {
    display: none !important;
}

.asteriskField {
    display: none;
}