<!-- crear_credito.html -->
{% extends 'core/base.html' %} {% load crispy_forms_tags %} {% block content %}
<main class="container my-4">
    <h4 class="title font-weight-normal animate__fadeInLeft" style="animation-duration: 0.5s !important;">Formulario de solicitud de servicios</h4>
    <section>
        <div class="my-4 py-2">
            <form class="form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row justify-content-center align-items-start">
                    <div class="col-md-9 p-1">
                        <div class="card bg-primary text-white box-shadow mb-3">
                            <div class="card-body">
                                <h5 class="title p-2">
                                    <i class="fa-solid fa-user text-warning"></i> &nbsp; Titular
                                </h5>
                                <h5 class="title p-2">Informacion basica</h5>

                                <div class="form-row">
                                    {% if garante_form.errors or formsetPhoneGuarantor.errors %} {% if formsetPhoneGuarantor.errors.0 != formsetPhoneGuarantor.errors.1 %}
                                    <ul class="error-list">
                                        <li class="text-danger">Hay errores en el formulario de garantes, por favor corríjalos.</li>
                                    </ul>
                                    {% endif %} {% endif %}
                                    <!-- {% for field in cliente_form %} 
                                        {% if field.errors %}
                                            <ul class="errorlist">
                                                {% for error in field.errors %}
                                                <li class="text-danger">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %} 
                                    {% endfor %} -->
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        {{cliente_form.first_name.label}} {{cliente_form.first_name}}
                                        <h5 class="text-danger">{{cliente_form.first_name.errors}}</h5>
                                    </div>
                                    <div class="form-group col-md-6">
                                        {{cliente_form.last_name.label}} {{cliente_form.last_name}}
                                        <h5 class="text-danger">{{cliente_form.last_name.errors}}</h5>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        {{cliente_form.email.label}} {{cliente_form.email}}
                                        <h5 class="text-danger">{{cliente_form.email.errors}}</h5>
                                    </div>
                                    <div class="form-group col-md-3">
                                        {{cliente_form.dni.label}} {{cliente_form.dni}}
                                        <h5 class="text-danger">{{cliente_form.dni.errors}}</h5>
                                    </div>
                                    <div class="form-group col-md-3">
                                        {{cliente_form.civil_status.label}} {{cliente_form.civil_status}}
                                        <h5 class="text-danger">{{cliente_form.civil_status.errors}}</h5>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        {{cliente_form.address.label}} {{cliente_form.address}}
                                        <h5 class="text-danger">{{cliente_form.address.errors}}</h5>
                                    </div>
                                    <div class="form-group col-md-6">
                                        {{cliente_form.job_address.label}} {{cliente_form.job_address}}
                                        <h5 class="text-danger">{{cliente_form.job_address.errors}}</h5>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        {{cliente_form.profession.label}} {{cliente_form.profession}}
                                        <h5 class="text-danger">{{cliente_form.profession.errors}}</h5>
                                    </div>
                                    <div class="form-group col-md-3">
                                        {{cliente_form.score.label}}{{cliente_form.score}}
                                        <h5 class="text-danger">{{cliente_form.score.errors}}</h5>
                                    </div>
                                    <div class="form-group col-md-3">
                                        {{cliente_form.has_pay_stub.label}}{{cliente_form.has_pay_stub}}
                                    </div>
                                </div>
                                <h5 class="title p-2"><i class="fa-solid fa-phone text-warning"></i>&nbsp;Datos de Contacto</h5>
                                <div class="form-row">
                                    <ul class="error-list">
                                        {% for form in formsetPhoneClient %} {% for field in form %} {% for error in field.errors %}
                                        <li class="text-danger">{{ error }}</li><br> {% endfor %} {% endfor %} {% endfor %}
                                    </ul> {{ formsetPhoneClient.non_form_errors }}
                                </div>
                                <p>
                                    <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapsePNC" aria-expanded="false" aria-controls="collapsePNC">
                                      Añadir numeros de contacto
                                    </button>
                                </p>
                                <div class="collapse" id="collapsePNC">
                                    <div class="form-row">
                                        {{formsetPhoneClient.management_form}} {% for phone_form in formsetPhoneClient %}
                                        <div class="form-group col-md-3">
                                            {{phone_form.phone_number_c.label}} {{phone_form.phone_number_c}}
                                        </div>
                                        <div class="form-group col-md-2">
                                            {{phone_form.phone_type_c.label}} {{phone_form.phone_type_c}}
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer p-1 bg-secondary box-shadow rounded-bottom"></div>
                        </div>
                    </div>
                    <div class="col-md-3 p-1">
                        <div class="card bg-primary text-white box-shadow mb-3">
                            <div class="card-body">
                                <h5 class="title p-2">
                                    <i class="fa-solid fa-landmark text-warning"></i> &nbsp; Credito
                                </h5>
                                <div class="form-row">
                                    <div class="form-check form-check-inline col-md-12">
                                        {{credito_form.is_old_credit.label}}: &nbsp;{{credito_form.is_old_credit}}
                                    </div>
                                    <div class="form-check form-check-inline col-md-12">
                                        ¿Presenta {{credito_form.has_pay_stub.label}}?: &nbsp;{{credito_form.has_pay_stub}}
                                    </div>
                                    <div class="form-group col-md-12 mt-2">
                                        {{credito_form.start_date.label}} {{credito_form.start_date}}
                                    </div>
                                    <div class="form-group col-md-12">
                                        {{credito_form.amount.label}} {{credito_form.amount}}
                                    </div>
                                    <div class="form-group col-md-4">
                                        {{credito_form.installment_num.label}} {{credito_form.installment_num}}
                                    </div>
                                    <div class="form-group col-md-4">
                                        {{credito_form.interest.label}} {{credito_form.interest}}
                                    </div>
                                    <div class="form-group col-md-12">
                                        <span class="m-0" for="monto">Monto a Devolver:</span>
                                        <h5 class="d-block mt-1 py-1 text-center text-warning font-weight-bold" id="monto_valor" name="monto_valor" style="font-size: 2rem;"></h5>
                                        <span id="cuota-label">Cuotas de:</span>
                                        <h6 class="d-block mt-1 py-1 text-center text-warning font-weight-bold" id="cuota_valor" name="cuota_valor" style="font-size: 1.5rem;"></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer p-1 bg-secondary box-shadow rounded-bottom"></div>
                        </div>
                    </div>
                </div>
                <p>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseG" aria-expanded="false" aria-controls="collapseG">
                      Añadir Garante
                    </button>
                </p>
                <div class="collapse" id="collapseG">
                    <div class="card bg-primary text-white box-shadow mb-3">
                        <div class="card-body">
                            <h5 class="title p-2"><i class="fa-solid fa-user text-warning"></i> &nbsp; Garante</h5>
                            <h5 class="title p-2">Informacion basica</h5>
                            <div class="form-row">
                                {% for field in garante_form %} {% if field.errors %}
                                <ul class="errorlist">
                                    {% for error in field.errors %}
                                    <li class="text-danger">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %} {% endfor %}
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    {{garante_form.first_name.label}} {{garante_form.first_name}}
                                </div>
                                <div class="form-group col-md-6">
                                    {{garante_form.last_name.label}} {{garante_form.last_name}}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    {{garante_form.email.label}} {{garante_form.email}}
                                </div>
                                <div class="form-group col-md-3">
                                    {{garante_form.dni.label}} {{garante_form.dni}}
                                </div>
                                <div class="form-group col-md-3">
                                    {{garante_form.civil_status.label}} {{garante_form.civil_status}}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    {{garante_form.address.label}} {{garante_form.address}}
                                </div>
                                <div class="form-group col-md-6">
                                    {{garante_form.job_address.label}} {{garante_form.job_address}}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    {{garante_form.profession.label}} {{garante_form.profession}}
                                </div>
                            </div>
                            <h5 class="title p-2"><i class="fa-solid fa-phone text-warning"></i>&nbsp;Datos de Contacto</h5>
                            <div class="form-row">
                                <ul class="error-list">
                                    {% for form in formsetPhoneGuarantor %} {% for field in form %} {% for error in field.errors %}
                                    <li class="text-danger">{{ error }}</li><br> {% endfor %} {% endfor %} {% endfor %}
                                </ul> {{ formsetPhoneGuarantor.non_form_errors }}
                            </div>
                            <p>
                                <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapsePNG" aria-expanded="false" aria-controls="collapsePNG">
                                  Añadir numeros de contacto
                                </button>
                            </p>
                            <div class="collapse" id="collapsePNG">
                                <div class="form-row">
                                    {{formsetPhoneGuarantor.management_form}} {% for phone_formG in formsetPhoneGuarantor %}
                                    <div class="form-group col-md-3">
                                        {{phone_formG.phone_number_c.label}} {{phone_formG.phone_number_c}}
                                    </div>
                                    <div class="form-group col-md-2">
                                        {{phone_formG.phone_type_c.label}} {{phone_formG.phone_type_c}}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="card-footer p-1 bg-secondary box-shadow rounded-bottom"></div>
                    </div>
                </div>
                <p>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseA" aria-expanded="false" aria-controls="collapseA">
                      Añadir Articulo
                    </button>
                </p>
                <div class="collapse" id="collapseA">
                    <div class="card bg-primary text-white box-shadow mb-4">
                        <div class="card-body">
                            <h5 class="title p-2"><i class="fa-solid fa-cube text-warning"></i>&nbsp;Articulo</h5>
                            <div class="form-row">
                                {% for field in empeno_form %} {% if field.errors %}
                                <ul class="errorlist">
                                    {% for error in field.errors %}
                                    <li class="text-danger">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %} {% endfor %}
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    {{empeno_form.article.label}} {{empeno_form.article}}
                                </div>
                                <div class="form-group col-md-4">
                                    {{empeno_form.brand.label}} {{empeno_form.brand}}
                                </div>
                                <div class="form-group col-md-4">
                                    {{empeno_form.model.label}} {{empeno_form.model}}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    {{empeno_form.state.label}} {{empeno_form.state}}
                                </div>
                                <div class="form-group col-md-4">
                                    {{empeno_form.accessories.label}} {{empeno_form.accessories}}
                                </div>
                                <div class="form-group col-md-4">
                                    {{empeno_form.detail.label}} {{empeno_form.detail}}
                                </div>
                                <div class="form-group col-md-2">
                                    {{empeno_form.purchase_papers.label}} {{empeno_form.purchase_papers}}
                                </div>
                            </div>
                        </div>
                        <div class="card-footer p-1 bg-secondary box-shadow rounded-bottom"></div>
                    </div>
                </div>
                <button type="button" class="btn btn btn-success d-block box-shadow mx-auto my-4 rounded p-2" data-toggle="modal" data-target="#confirmacionModal">Registrar Cliente</button>
                <!-- Agregar el modal -->
                <div class="modal fade" id="confirmacionModal" tabindex="-1" role="dialog" aria-labelledby="confirmacionModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="confirmacionModalLabel">Confirmar registro de servicio</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                ¿Está seguro de que desea enviar el formulario del servicio?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-success" id="enviarFormulario">Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>

<script>
    let numero_cuota = document.getElementById("id_installment_num")
    let interes = document.getElementById("id_interest")
    let monto = document.getElementById("id_amount")
    let monto_a_devolver = document.getElementById("monto_valor").textContent = "Calculando ...";
    let cuota_a_devolver = document.getElementById("cuota_valor");
    numero_cuota.addEventListener("input", calcularMonto);
    interes.addEventListener("input", calcularMonto);
    monto.addEventListener("input", calcularMonto);

    function round_to_nearest_hundred(x) {
        if (x % 100 >= 50) {
            return (Math.floor(x / 100) + 1) * 100;
        } else {
            return Math.floor(x / 100) * 100;
        }
    }

    function calcularMonto() {
        var installmentNum = parseInt(document.getElementById("id_installment_num").value);
        var creditInterest = parseFloat(document.getElementById("id_interest").value);
        var amount = parseFloat(document.getElementById("id_amount").value);

        var installment_value = round_to_nearest_hundred((creditInterest / 100 * amount) / (1 - Math.pow((1 + creditInterest / 100), (-installmentNum))));
        var monto = installmentNum * installment_value;

        if (isNaN(monto)) {
            monto = "Caculando ..."
            document.getElementById("monto_valor").textContent = monto;
        } else {
            document.getElementById("monto_valor").textContent = monto.toLocaleString("es-AR", {
                style: "currency",
                currency: "ARS"
            });
            montoCuota = round_to_nearest_hundred(parseFloat((monto / installmentNum).toFixed(2)));
            cuota_a_devolver.textContent = montoCuota.toLocaleString("es-AR", {
                style: "currency",
                currency: "ARS"
            });
        }
    }
</script>

{% endblock %}