{% extends "core/base.html" %} 
{% load crispy_forms_tags %}{% load static %} 

{% block content %}
<main class="container my-4">
    <h4 class="title font-weight-normal animate__fadeInLeft" style="animation-duration: 0.5s !important;">Crear Crédito</h4>
    <section>
        <form method="post">
            <div class="row justify-content-center align-items-start">
                {% csrf_token %}
                
                <div class="col-md-9 p-1">
                    {{ form }}
                    <h4 class="title font-weight-normal animate__fadeInLeft" style="animation-duration: 0.5s !important;">Empeño</h4>
                    <p>
                        <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapsePNC" aria-expanded="false" aria-controls="collapsePNC">
                        Añadir Articulo    
                        </button>
                    </p>
                    <div class="collapse col-md-9 p-1" id="collapsePNC">
                        <div class="form-row">
                            {{ warranty_form }}
                        </div>
                    </div>
                </div>
                
                <div class="col-md-3 p-1">
                    {% if not is_add %}
                        <div class="form-group">
                            <label for="search-input">Buscar Cliente</label>
                            <input type="text" id="search-input" class="form-control" placeholder="Buscar por Nombre, Apellido o DNI">
                        </div>
                    {% endif %}
                    <ul id="search-results" class="list-group mt-3"></ul>
                    <div class="my-2 bg-primary border-0 text-white box-shadow card">
                        <a name="" id="" class="btn btn-secondary rounded p-3" href="{% url 'credits:create_credit' %}" role="button">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            <span>Cargar Nuevo Cliente Completo</span>
                        </a>
                    </div>
                </div>
                
                <input class="btn btn-success btn-block mt-4 rounded p-3" type="submit" value="Guardar">
            </div>
        </form>
    </section>
</main>

<script>
    const searchInput = document.querySelector('#search-input');
    const searchResults = document.querySelector('#search-results');

    searchInput.addEventListener('input', (event) => {
        const searchTerm = event.target.value.trim().toLowerCase();

        if (!searchTerm) {
            // Limpiar los resultados de búsqueda si no hay término de búsqueda
            searchResults.innerHTML = '';
            return;
        }

        // Realizar la búsqueda de clientes que coincidan con el término de búsqueda
        fetch(`/credits/search/?search_term=${searchTerm}`)
            .then(response => response.json())
            .then(data => {
                const clientes = data.clientes;

                // Mostrar los resultados de búsqueda
                searchResults.innerHTML = '';
                clientes.forEach(cliente => {
                    const item = document.createElement('li');
                    item.classList.add('list-group-item', 'client');
                    item.dataset.clientId = cliente.id;
                    item.innerHTML = `
                        <div class="d-flex justify-content-between">
                            <h6>${cliente.full_name}</h6>
                            <span>${cliente.dni}</span>
                        </div>
                    `;
                    searchResults.appendChild(item);
                });
            });
    });

    searchResults.addEventListener('click', (event) => {
        const item = event.target.closest('.client');
        if (!item) {
            return;
        }

        const clientId = item.dataset.clientId;
        const clientName = item.querySelector('h6').textContent;

        // Rellenar el campo del cliente seleccionado y ocultar los resultados de búsqueda
        searchInput.value = clientName;
        searchResults.innerHTML = '';
        // Añadir el id del cliente al formulario
        const clientIdInput = document.createElement('input');
        clientIdInput.type = 'hidden';
        clientIdInput.name = 'selected_client_id';
        clientIdInput.value = clientId;
        searchInput.closest('form').appendChild(clientIdInput);
    });
</script>

{% endblock content %}
