{% extends "core/base.html" %} {% load crispy_forms_tags %}{% load static %} {% block content %}
<main class="container my-4">
    <a class="btn btn-secondary my-2 rounded p-3" href="{% url 'credits:create_credit' %}" role="button">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        <span>Nuevo Credito</span>
    </a>
    <form class="d-block" method="post">
        {% csrf_token %}
        <section class="row">
            <div class="col-md-4 order-first order-md-last">
                {% if not is_add %}
                <div class="form-group">
                    <label for="search-input"><h4>Buscar Cliente</h4></label>
                    <input required type="text" id="search-input" class="form-control rounded p-3 box-shadow" placeholder="Buscar por Nombre, Apellido o DNI">
                </div>
                {% endif %}
                <ul id="search-results" class="list-group text-dark mt-3"></ul>
            </div>
            <div class="col-md-8">
                <div class="card box-shadow bg-primary text-white">
                    <div class="card-header">
                        <h4 class="title font-weight-normal animate__fadeInLeft" style="animation-duration: 0.5s !important;">Crear Crédito</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-row">
                                    <div class="form-check form-check-inline col-md-12">
                                        {{form.is_old_credit.label}}: &nbsp;{{form.is_old_credit}}
                                    </div>
                                    <div class="form-check form-check-inline col-md-12">
                                        ¿Presenta {{form.has_pay_stub.label}}?: &nbsp;{{form.has_pay_stub}}
                                    </div>
                                    <div class="form-group col-md-12">
                                        {{form.start_date.label}} {{form.start_date}}
                                    </div>
                                    <div class="form-group col-md-12">
                                        {{form.amount.label}} {{form.amount}}
                                    </div>
                                    <div class="form-group col-md-3">
                                        {{form.installment_num.label}} {{form.installment_num}}
                                    </div>
                                    <div class="form-group col-md-3">
                                        {{form.interest.label}} {{form.interest}}
                                    </div>
                                    <div class="form-group col-md-6">
                                        {{form.adviser.label}} {{form.adviser}}
                                    </div>
                                    <div class="form-group col-md-4">
                                        {{ form.interest_daily.label }}
                                        <div class="input-group">
                                            {{ form.interest_daily }}
                                            <div class="input-group-append">
                                                <span class="input-group-text">%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group col-md-12">
                                    <span class="m-0" for="monto">Monto a Devolver:</span>
                                    <h5 class="d-block mt-1 py-1 text-start text-warning font-weight-bold" id="monto_valor" name="monto_valor" style="font-size: 2rem;"></h5>
                                    <span id="cuota-label">Cuotas de:</span>
                                    <h6 class="d-block mt-1 py-1 text-start text-warning font-weight-bold" id="cuota_valor" name="cuota_valor" style="font-size: 1.5rem;"></h6>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-12">
                                <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapsePNC" aria-expanded="false" aria-controls="collapsePNC">Añadir Articulo</button>
                                <div class="collapse p-4" id="collapsePNC">
                                    <div class="form-row">
                                        {{ warranty_form }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2 mb-2">
                            <div class="col-md-12">
                            <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseG" aria-expanded="false" aria-controls="collapseG">
                              Añadir Garante
                            </button>
                            <div class="collapse" id="collapseG">
                                <div class="card bg-primary text-white box-shadow mb-3">
                                    <div class="card-body">

                                        <!-- BUSCADOR DE GARANTE -->
                                        <div class="form-group">
                                            <label for="search-input"><h4>Buscar Garante</h4></label>
                                            <input type="text" id="search-guarantor-input" class="form-control rounded p-3 box-shadow" placeholder="Buscar por Nombre, Apellido o DNI">
                                        </div>
                                        <ul id="search-guarantor-results" class="list-group text-dark mt-3"></ul>


                                        <div class="text-center"> <strong> O</strong></div>
                                        <h5 class="title p-2"><i class="fa-solid fa-user text-warning"></i> &nbsp;Nuevo Garante</h5>
                                        <h5 class="title p-2">Informacion basica</h5>
                                        <div class="form-row">
                                            {% for field in garante_form %} {% if field.errors %}
                                            <ul class="errorlist">
                                                {% for error in field.errors %}
                                                <li class="text-danger">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                            {% endif %} {% endfor %}
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                {{garante_form.first_name.label}} {{garante_form.first_name}}
                                            </div>
                                            <div class="form-group col-md-6">
                                                {{garante_form.last_name.label}} {{garante_form.last_name}}
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                {{garante_form.email.label}} {{garante_form.email}}
                                            </div>
                                            <div class="form-group col-md-3">
                                                {{garante_form.dni.label}} {{garante_form.dni}}
                                            </div>
                                            <div class="form-group col-md-3">
                                                {{garante_form.civil_status.label}} {{garante_form.civil_status}}
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                {{garante_form.address.label}} {{garante_form.address}}
                                            </div>
                                            <div class="form-group col-md-6">
                                                {{garante_form.job_address.label}} {{garante_form.job_address}}
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                {{garante_form.profession.label}} {{garante_form.profession}}
                                            </div>
                                        </div>
                                        <h5 class="title p-2"><i class="fa-solid fa-phone text-warning"></i>&nbsp;Datos de Contacto</h5>
                                        <div class="form-row">
                                            <ul class="error-list">
                                                {% for form in formsetPhoneGuarantor %} {% for field in form %} {% for error in field.errors %}
                                                <li class="text-danger">{{ error }}</li><br> {% endfor %} {% endfor %} {% endfor %}
                                            </ul> {{ formsetPhoneGuarantor.non_form_errors }}
                                        </div>
                                        <p>
                                            <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapsePNG" aria-expanded="false" aria-controls="collapsePNG">
                                            Añadir numeros de contacto
                                            </button>
                                        </p>
                                        <div class="collapse" id="collapsePNG">
                                            <div class="form-row">
                                                {{formsetPhoneGuarantor.management_form}} {% for phone_formG in formsetPhoneGuarantor %}
                                                <div class="form-group col-md-3">
                                                    {{phone_formG.phone_number_g.label}} {{phone_formG.phone_number_g}}
                                                </div>
                                                <div class="form-group col-md-2">
                                                    {{phone_formG.phone_type_g.label}} {{phone_formG.phone_type_g}}
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer p-1 bg-secondary box-shadow rounded-bottom"></div>
                                </div>
                            </div>
                    </div>
                </div>
                        <input class="btn btn-success btn-block mt-4 rounded p-3" type="submit" value="Guardar">
                    </div>
                </div>
            </div>
        </section>

    </form>
</main>
<script>
    // BUSCADOR DE GARANTE DINAMICO
    const searchGuarantorInput = document.querySelector('#search-guarantor-input');
    const searchGuarantorResults = document.querySelector('#search-guarantor-results');

    searchGuarantorInput.addEventListener('input', (event) => {
        const searchTerm_g = event.target.value.trim().toLowerCase();

        if (!searchTerm_g) {
            // Limpiar los resultados de búsqueda si no hay término de búsqueda
            searchGuarantorResults.innerHTML = '';
            return;
        }

        // Realizar la búsqueda de clientes que coincidan con el término de búsqueda
        fetch(`/guarantors/search_guarantor/?search_term_g=${searchTerm_g}`)
            .then(response => response.json())
            .then(data => {
                const guarantors = data.guarantors;
                console.log(guarantors);
                // Mostrar los resultados de búsqueda
                searchGuarantorResults.innerHTML = '';
                guarantors.forEach(guarantor => {
                    const item_g = document.createElement('li');
                    item_g.style.zIndex = "9999";
                    item_g.style.cursor = 'pointer';
                    item_g.classList.add('list-group-item', 'client');
                    item_g.dataset.clientId = guarantor.id;
                    item_g.innerHTML = `
                        <div class="d-flex justify-content-between">
                            <h6>${guarantor.full_name}</h6>
                            <h6 class="font-weight-bold">&nbsp${guarantor.dni}</h6>
                        </div>
                    `;
                    searchGuarantorResults.appendChild(item_g);
                });
            });
    });

    searchGuarantorResults.addEventListener('click', (event) => {
        const item_g = event.target.closest('.client');
        if (!item_g) {
            return;
        }

        const guarantorId = item_g.dataset.clientId;
        const guarantorName = item_g.querySelector('h6').textContent;

        // Rellenar el campo del cliente seleccionado y ocultar los resultados de búsqueda
        searchGuarantorInput.value = guarantorName;
        searchGuarantorResults.innerHTML = '';
        // Añadir el id del cliente al formulario
        const guarantorIdInput = document.createElement('input');
        guarantorIdInput.type = 'hidden';
        guarantorIdInput.name = 'selected_guarantor_id';
        guarantorIdInput.value = guarantorId;
        searchGuarantorInput.closest('form').appendChild(guarantorIdInput);
    });
    // const form_guarantor = document.querySelector('form');
    // form_guarantor.addEventListener('submit', (event) => {
    //     const selectedClientIdInput = document.querySelector('input[name="selected_guarantor_id"]');
    //     if (!selectedClientIdInput) {
    //         event.preventDefault();
    //         alert('Por favor, seleccione un cliente antes de guardar.');
    //     }
    // });
</script>

<script>
    // BUSCADOR DE CLIENTE DINAMICO
    const searchInput = document.querySelector('#search-input');
    const searchResults = document.querySelector('#search-results');

    searchInput.addEventListener('input', (event) => {
        const searchTerm = event.target.value.trim().toLowerCase();

        if (!searchTerm) {
            // Limpiar los resultados de búsqueda si no hay término de búsqueda
            searchResults.innerHTML = '';
            return;
        }

        // Realizar la búsqueda de clientes que coincidan con el término de búsqueda
        fetch(`/credits/search/?search_term=${searchTerm}`)
            .then(response => response.json())
            .then(data => {
                const clientes = data.clientes;

                // Mostrar los resultados de búsqueda
                searchResults.innerHTML = '';
                clientes.forEach(cliente => {
                    const item = document.createElement('li');
                    item.style.zIndex = "9999";
                    item.style.cursor = 'pointer';
                    item.classList.add('list-group-item', 'client');
                    item.dataset.clientId = cliente.id;
                    item.innerHTML = `
                        <div class="d-flex justify-content-between">
                            <h6>${cliente.full_name}</h6>
                            <h6 class="font-weight-bold">&nbsp${cliente.dni}</h6>
                        </div>
                    `;
                    searchResults.appendChild(item);
                });
            });
    });

    searchResults.addEventListener('click', (event) => {
        const item = event.target.closest('.client');
        if (!item) {
            return;
        }

        const clientId = item.dataset.clientId;
        const clientName = item.querySelector('h6').textContent;

        // Rellenar el campo del cliente seleccionado y ocultar los resultados de búsqueda
        searchInput.value = clientName;
        searchResults.innerHTML = '';
        // Añadir el id del cliente al formulario
        const clientIdInput = document.createElement('input');
        clientIdInput.type = 'hidden';
        clientIdInput.name = 'selected_client_id';
        clientIdInput.value = clientId;
        searchInput.closest('form').appendChild(clientIdInput);
    });
    const form = document.querySelector('form');
    form.addEventListener('submit', (event) => {
        const selectedClientIdInput = document.querySelector('input[name="selected_client_id"]');
        if (!selectedClientIdInput) {
            event.preventDefault();
            alert('Por favor, seleccione un cliente antes de guardar.');
        }
    });
</script>
<script>
    let numero_cuota = document.getElementById("id_installment_num")
    let interes = document.getElementById("id_interest")
    let monto = document.getElementById("id_amount")
    let monto_a_devolver = document.getElementById("monto_valor").textContent = "Calculando ...";
    let cuota_a_devolver = document.getElementById("cuota_valor");
    numero_cuota.addEventListener("input", calcularMonto);
    interes.addEventListener("input", calcularMonto);
    monto.addEventListener("input", calcularMonto);

    function round_to_nearest_hundred(x) {
        if (x % 100 >= 50) {
            return (Math.floor(x / 100) + 1) * 100;
        } else {
            return Math.floor(x / 100) * 100;
        }
    }
    function calcularMonto() {
        var installmentNum = parseInt(document.getElementById("id_installment_num").value);
        var creditInterest = parseFloat(document.getElementById("id_interest").value);
        var amount = parseFloat(document.getElementById("id_amount").value);
        
        var installment_value = round_to_nearest_hundred((creditInterest / 100 * amount) / (1 - Math.pow((1 + creditInterest / 100), (-installmentNum))));
        var monto = installmentNum * installment_value;

        if (isNaN(monto)) {
            monto = "Calculando ..."
            document.getElementById("monto_valor").textContent = monto;
        } else {
            document.getElementById("monto_valor").textContent = monto.toLocaleString("es-AR", {
                style: "currency",
                currency: "ARS"
            });
            montoCuota = parseFloat((monto / installmentNum).toFixed(2));
            cuota_a_devolver.textContent = montoCuota.toLocaleString("es-AR", {
                style: "currency",
                currency: "ARS"
            });
        }
    }
</script>
{% endblock content %}