{% extends "core/base.html" %} {% block content %} {% load static %}
<!--Main-->
<link href="{% static 'cashregister/css/cashregister.css' %}" rel="stylesheet">
<main class="container my-4">
    <h4 class="title font-weight-normal animate__fadeInLeft" style="animation-duration: 0.5s !important;">Creditos</h4>
    <!--Seccion 1-->
    {% include 'core/message.html' %}
    <section>
        <div class="row mt-4 ">
            <div class="col-xl-3 col-sm-6 col-12 p-3 ">
                <div class="card bg-primary text-white">
                    <div class="card-content ">
                        <div class="card-body ">
                            <div class="media d-flex ">
                                <div class="align-self-center ">
                                    <i class="fa-solid fa-hand-holding-dollar text-warning icon-lg "></i>
                                </div>
                                <div class="media-body text-right ">
                                    <h5 class="title font-weight-bold" style="font-size: 2rem;">{{count_credits}}</h5>
                                    <span class="font-weight-bold" style="font-size: 1.4rem;">Total de Creditos</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-xl-3 col-sm-6 col-12 p-3">
                <a name="" id="" class="btn btn-secondary rounded p-3" href="{% url 'credits:associate_credit' %}" role="button">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    <span>Cargar Nuevo credito</span>
                </a>
            </div>
        </div>
    </section>
    <section>
        {% include 'credit/includes/credit_table.html' %}
    </section>
    <!--Seccion 2-->
</main>

{% endblock content %}