<!-- credit/edit_credit.html -->
{% extends "core/base.html" %} {% block content %} {% load static %}
{% if messages %} {% for message in messages %}
    <div class="alert alert-{{message.extra_tags}} alert-dismissible" role="alert">
        <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
        <span class="font-weight-light">{{ message }}</span>
    </div>
{% endfor %} {% endif %}
<form method="post">
    <h1>Actualizar Credito de <a href="{% url 'clients:detail' client.pk %}"><h1>{{client}}</h1></a></h1>
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {{ formset.management_form }}
    <div class="container p-0">
        <div class="row justify-content-start">
    {% for form in formset %}
            <div class="col-md-4">
                <div class="row justify-content-start">
                    <div class="card my-4">
                        <div class="card-body">
                            {{ form.as_p }}
                        </div>
                    </div>
                </div>
            </div>
        
      {% endfor %}
    </div>
</div>
      <button type="submit">Save Changes</button>
    </form>
  
  {% endblock content %}