.icon-lg::after,
.icon-lg::before {
    font-size: 3rem !important;
}

.asteriskField {
    display: none;
}

#div_id_cashregister {
    display: none;
}

#div_id_user {
    display: none;
}

input[type="text"]::-webkit-search-cancel-button {
    -webkit-appearance: none !important;
    height: 20px !important;
    width: 20px !important;
    border-radius: 50% !important;
    background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50% !important;
}